{% extends 'base/base.html' %}

{% block title %}Setting New Password{% endblock title %}
{% block page_id %}password{%endblock%}
{% block body %}
<div class="row-fluid"> <p class="push"></p> <p class="push"></p></div>
<div class="row-fluid">
    <div class="span12">
        <div class="widget">
            <div class="widget-title">
                <h4><i class="icon-lock"></i> New Password</h4>   
            </div>
            <div class="widget-body">
                {% if validlink %}
                <form action="" method="post" class="form-horizontal">
                    {% csrf_token %}
                        <p>Please enter your new password twice. So we can verify you typed it in correctly.</p>
                        {% include "form/input.html" with title="Password" errors=form.errors.new_password1 input=form.new_password1 %}      
                        {% include "form/input.html" with title="Confirm Password" errors=form.errors.new_password2 input=form.new_password2 %}
                    
                    <div class="space5"></div>
                    <div class="form-actions">
                        <button class="btn btn-success" type="submit"><i class="icon-ok"></i> Submit</button>
                    </div>    
                </form>
                {% else %}
                    <h4>Password reset unsuccessful</h4>
                    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p><br/>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}