{% load staticfiles %}
<form method="post" id='form' data-pk='{{edit_user.pk|default:""}}' action="." class="form-horizontal">
    {% csrf_token %}
    {% include "form/header_error.html" %}
    <div class="row-fluid">
        <div class="span1">
        </div>
        <div class="span8">

            {% include "form/input.html" with title="Username" errors=edit_user.errors.username input=form.username %}
            {% include "form/input.html" with title="Name" errors=form.errors.full_name input=form.name %}
            {% include "form/input.html" with title="Email" errors=form.errors.email input=form.email %}
            {% include "form/input.html" with title="Mobile" errors=form.errors.mobile input=form.mobile %}

            {% if perms.member.add_seller %}
                {% if not edit_user %} {# only show when creating a new user #}
                    {% include "form/input.html" with title="New Password" errors=form.errors.password input=form.password %}
                    {% include "form/input.html" with title="Confirm Password" errors=form.errors.password2 input=form.password2 %}
                {% endif %}

                <div class="control-group">
                    <label class="control-label">Active:</label>
                    <div class="controls input-icon">
                        {% if edit_user != user %} {# dont allow to change these on oneself, as it might lead to logout/loss of privileges to undo it #}
                        <div class="info-toggle-button is_active">
                            {{form.is_active}}
                        </div>
                        {% else %}
                            <i class="{% if edit_user.is_active %}icon-ok icon-success{%else%}icon-remove{% endif %}"></i>
                        {% endif %}
                    </div>
                </div>

                {% if user.is_admin %}
                    <div class="control-group">
                        <label class="control-label">Superuser:</label>
                        <div class="controls input-icon">
                            <i class="{% if edit_user.is_superuser%}icon-ok icon-success{%else%}icon-remove icon-danger{% endif %}"></i>
                        </div>
                    </div>
                {% endif %}

                <div class="control-group">
                    <label class="control-label">Role:</label>
                    <div class="controls input-icon">
                      {% if perms.member.add_seller %}
                        {% if edit_user == user %}
                          {{edit_user.groups.all|join:", "|default:'<i>None</i>'}}
                        {% else %}
                          {{form.groups}}
                        {% endif %}
                      {% else %}
                        {{edit_user.groups.all|join:", "|default:'<i>None</i>'}}
                      {% endif %}
                    </div>
                </div>
            {% endif %}
            <div id="server-error" class="alert alert-error hide">Server error, please try again later!</div>
        </div>
        <div class=" span12 form-actions">
            <button class="btn btn-primary" type="submit"><i class="icon-ok"></i> Save</button>
            <a class="btn" href="{% url "seller-index"  %}">Cancel</a>
        </div>
    </div>
</form>
