<li class="treeview active">
    <a href="{% url 'member:member-profile' %}">
{#        <i class="fa fa-angle-left pull-right"></i>#}
        <i class='fa fa-user'></i>
        <b>Profile</b>
    </a>
{##}
{#    <ul class="treeview-menu menu-open" style="display: block;">#}
{#        <li>#}
{#            <a href="{% url 'member:member-profile' %}" class="main">#}
{#                <i class="fa fa-circle-o"></i>#}
{#                Profile#}
{#            </a>#}
{#        </li>#}
{#        {% if user.is_superuser %}#}
{#            <li>#}
{#                <a href="{% url 'payments:view_card' %}" class="main">#}
{#                    <i class="fa fa-circle-o"></i>#}
{#                    Payment#}
{#                </a>#}
{#            </li>#}
{#        {% endif %}#}
{#    </ul>#}
</li>
