{% extends "material/frontend/base.html" %}
{% load i18n static material_form %}

{% block title %}{% trans 'Log in' %}{{ block.super }}{% endblock %}
{% block base_body_class %}hold-transition login-page{% endblock %}

{% block header_base_style %}
    {% include 'material/includes/material_css.html' %}
    <script src="{% static 'material/js/jquery.js' %}"></script>
    {% include 'material/includes/material_js.html' %}
{% endblock %}

{% block body %}
    <div class="container expand-on-small-only">
        <div class="row valign change-form">
            <div class="col s12 m8 offset-m2 l8 offset-l2">
                <div class="card" style="height:130px">
                    <img width="100%" src="http://www.poultryindia.co.in/media/cache/login-banner-2017_02_2000x335.jpg"/>
                </div>

                <div class="card">
                    <form action="" method="post" id="login-form">
                        {% csrf_token %}
                        <div class="card-content">
                            <span class="card-title grey-text text-darken-2">Login</span>
                            {% form %}
                                {% part form.mobile prefix %}<i class="material-icons prefix">account_box</i>
                                {% endpart %}
                                {% part form.password prefix %}<i class="material-icons prefix">lock</i>{% endpart %}
                            {% endform %}
                        </div>

                        <div class="card-action">
                            <div class="left">
                                <a class="btn btn-flat" href="{% url 'password_reset' %}">{% trans '忘记密码?' %}</a>
                                <a class="btn btn-flat" href="{% url 'member-register' %}">{% trans '我是新用户' %}</a>
                            </div>
                            <div class="right-align">
                                <button type="submit" class="btn">{% trans '登 陆' %}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block messages %}

{% endblock messages %}

{% block icon %}account_circle{% endblock %}
