
{% extends "adminlte/common_form.html" %}
{% load i18n static adminlte_tags %}

{% block base_head_title %}个人资料{% endblock %} |
{% block base_head_title_system_name %}OZSales{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <i class="fa fa-dashboard"></i> {{ default_dashboard_title }}
            </a>
        </li>
        {% if page_title != default_dashboard_title %}
        <li class="active">
            {% if user.is_superuser %}
                <a href="{% url 'member:member-list' %}">Member</a>
            {% else %}
                {{ page_title }}
            {% endif %}
        </li>
        {% endif %}
        {% if object != None %}
            <li class="active">{{ page_title }}详情</li>
        {% endif %}
    </ol>
{% endblock %}


{% block content %}
<div class="row">
<div class="col-xs-12">
    <form method="post" action="" enctype="multipart/form-data" class="form-horizontal" role="form" id="commonForm">
    {% csrf_token %}

    <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{{ object }}</h3>
        </div>
        <div class="box-body">
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}

            {% for field in form %}
                <div class="form-group">
                    <label for="id_{{ field.name }}" class="col-sm-2 col-xs-3 control-label ln34">{{ field.label }}</label>
                    <div class="col-sm-6 col-xs-9">
                        {{ field }}
                    </div>
                    <div class="col-sm-4 hidden-xs">
                        {{ field.errors }}
                        <p class="help-block">{{ field.help_text }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="box-footer">
            <button type="submit" style="width:108px" v-on:click="submit" class="btn btn-primary col-sm-offset-2 col-xs-offset-3">保 存</button>
        </div>
    </div>

    <input id="object_id" type="hidden" value="{{ object.pk }}">

    {% block inline_formset %}{% endblock %}

    </form>

    {% block inline_formset_template %}{% endblock %}

</div>
</div>
{% endblock %}
