{% extends "adminlte/common_list.html" %}
{% load static %}

{% block table_head %}
  <th class="text-center hidden-sm hidden-xs" style="width:60px;">
    <input type="checkbox" name="checkboxAllRow" class="checkboxAllRow" v-on:click="toggleAllBox"/>
  </th>
  <th>Name</th>
  <th>Mobile Number</th>
  <th>Address</th>
  <th>Customer</th>
  <th>ID number</th>
  <th>ID Front</th>
  <th>ID Back</th>

  <th class="hidden-sm hidden-xs"></th>
{% endblock %}

{% block table_row %}
  <tbody v-for="item in items">
  <tr>
    <td class="text-center hidden-sm hidden-xs">
      ##[$index+1]
      <input type="checkbox" class="minimal" name="checkboxRow" value="#[item.id]"/>
    </td>
    <td><a href="{!! item.edit_url !!}">{!! item.name !!}</a></td>
    <td>{!! item.mobile !!}</td>
    <td>{!! item.address !!}</td>
    <td>{!! item.customer !!}</td>
    <td>{!! item.id_number !!}</td>
    <td><img height="60px" src="{!! item.id_photo_front !!}"/></td>
    <td><img height="60px" src="{!! item.id_photo_back !!}"/></td>

    {% block item_buttons %}
      {{ block.super }}
    {% endblock %}
  </tr>
  </tbody>
{% endblock %}

{% block common_list_footer_page_script %}
  <script type="text/javascript" src="{% static 'js/customer/address_list.min.js' %}"></script>
{% endblock %}
