{% extends "adminlte/common_list.html" %}
{% load static %}

{% block table_head %}
  <th class="text-center hidden-sm hidden-xs" style="width:60px;">
    <input type="checkbox" name="checkboxAllRow" class="checkboxAllRow" v-on:click="toggleAllBox"/>
  </th>
  <th class="visible-sm visible-xs" id="show_all_address" style="width:50px;" v-on:click="show_all_address">
    <i class="fa fa-plus-square text-muted" aria-hidden="true"></i>
  </th>
  <th>Name</th>
  <th>Mobile</th>
  <th>Order Count</th>
  <th class="hidden-sm hidden-xs">Primary Address</th>
  <th class="hidden-sm hidden-xs"></th>
{% endblock %}

{% block table_row %}
  <tbody v-for="item in items">
  <tr v-on:click="show_address(item.id, $event)">
    <td class="text-center hidden-sm hidden-xs">
      ##[$index+1]
      <input type="checkbox" class="minimal" name="checkboxRow" value="#[item.id]"/>
    </td>
    <td class="visible-sm visible-xs show_address" data-pk="{!! item.id !!}">
      <i class="fa fa-plus-square text-primary" aria-hidden="true" v-if="item.address_set.length"></i>
    </td>
    <td><a href="{!! item.edit_url !!}">{!! item.name !!}</a></td>
    <td>{!! item.mobile !!}</td>
    <td>{!! item.order_count !!}</td>
    <td class="hidden-sm hidden-xs">{!! item.primary_address_display !!}</td>

    {% block item_buttons %}
      {{ block.super }}
    {% endblock %}
  </tr>
  <tr class="hide" id="address_set_{!! item.id !!}" v-if="item.address_set.length">
    <td class="hidden-sm hidden-xs" colspan="4"></td>
    <td colspan="100%">
      <template v-for="address in item.address_set">
        {#        <template v-if="address.id != item.primary_address">#}
        {!! address.name !!},{!! address.mobile !!},{!! address.address !!}<br/>
        {#        </template>#}
      </template>
    </td>
  </tr>
  </tbody>
{% endblock %}

{% block common_list_footer_page_script %}
  <script type="text/javascript" src="{% static 'js/customer/customer_list.min.js' %}"></script>
{% endblock %}
