{# Url/Request to delete is handled by javascript-module therefore not provided here #}
<div id="{{modal_name|default:''}}DeleteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="{{modal_name|default:''}}DeleteModal" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3><i class="fa fa-exclamation-circle"></i> {{modal_title}}</h3>
    </div>
    <div class="modal-body">
        <p>{{modal_body}}</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-danger confirm">Delete</button>
    </div>
</div>
