<div class="notifications">
    <div class="alert alert-warning hide">
        <button class="close" data-dismiss="alert">×</button>
        <strong>Warning:</strong>
        <span class="text"></span>
    </div>
    <div class="alert alert-success hide">
        <button class="close" data-dismiss="alert">×</button>
        <strong>Success:</strong>
        <span class="text"></span>
    </div>
    <div class="alert alert-info hide">
        <button class="close" data-dismiss="alert">×</button>
        <strong>Info:</strong>
        <span class="text"></span>
    </div>
    <div class="alert alert-error hide">
        <button class="close" data-dismiss="alert">×</button>
        <strong>Error:</strong>
        <span class="text"></span>
    </div>
</div>