{% verbatim %}
<!-- Handlebar Javascript Templates -->


<!-- sharing widget -->
<script id="sharing_widget" type="text/x-handlebars-template">
  <div class="control-group">
    <label class="control-label" for="sharing">Share with</label>
    <div class="controls">
      <select class='shared-with' data-placeholder="Pick groups or users" multiple="">
        <optgroup label='Groups'>
          {{#groups}}
            <option value='group-{{id}}'>{{name}}</option>
          {{/groups}}
        </optgroup>
        <optgroup label='Users'>
          {{#users}}
            <option value='user-{{id}}'>{{username}}</option>
          {{/users}}
        </optgroup>
      </select>
    </div>
  </div>
</script>

<script id="sharing_widget_instant" type="text/x-handlebars-template">
  <div class="control-group">
    <div class="controls">
      <select class='shared-with' data-placeholder="Share with..." multiple="">
        <optgroup label='Groups'>
          {{#groups}}
            <option value='group-{{id}}'>{{name}}</option>
          {{/groups}}
        </optgroup>
        <optgroup label='Users'>
          {{#users}}
            <option value='user-{{id}}'>{{username}}</option>
          {{/users}}
        </optgroup>
      </select>
    </div>
  </div>
</script>

{% endverbatim %}
