{% load i18n %}
{% load activelink %}
{% load in_group %}

{% if not user|in_group:"Chef" %}
  <div id="sidebar" class="nav-collapse collapse">
    <div class="sidebar-toggler hidden-phone"></div>
    <div class="navbar-inverse"></div>
    <ul class="sidebar-menu">
      {% if user.is_authenticated %}
      <li>
        <a href="{% url 'member-home' %}"><span class="icon-box"><i class="fa fa-dashboard"></i></span>
          <span class="module_name">Dashboard</span>
        </a>
      </li>
      {% endif %}

      {% if perms.member.change_seller or perms.member.view_seller %}
      <li class="has-sub {% ifstartswith "/member/" %}open{% endifstartswith %}">
        <a href="javascript:;">
          <span class="icon-box"><i class="fa fa-user"></i></span>
          <span class="module_name">Members</span>

          <span class="arrow {% ifstartswith "/member/" %}open{% endifstartswith %}"></span>
        </a>
        <ul class="sub" {% ifstartswith "/member/" %}style='display:block;'{% endifstartswith %}>
            <li><a href="{% url 'member-profile' %}">User Profile</a></li>
          {% if perms.member.add_seller %}
            <li><a href="{% url 'seller-index' %}">Member User</a></li>
          {%endif%}
        </ul>
      </li>
      {%endif%}

      {% if perms.customer.add_customer or perms.customer.view_customer %}
      <li class="has-sub {% ifstartswith '/customer/' %}open{% endifstartswith %}">
        <a href="javascript:;">
          <span class="icon-box"><i class="fa fa-briefcase"></i></span>
          <span class="module_name">Customers</span>
          <span class="arrow {% ifstartswith '/customer/' %}open{% endifstartswith %}"></span>
        </a>
        <ul class="sub" {% ifstartswith '/customer/' %}style='display:block;'{% endifstartswith %}>
            <li><a href="{% url 'customer-add' %}">Add Customer</a></li>
            <li><a href="{% url 'customer-list' %}">Customer List</a></li>
        </ul>
      </li>
      {%endif%}

      {% if perms.order.add_order or perms.order.view_order %}
      <li class="has-sub {% ifstartswith '/order/' %}open{% endifstartswith %}">
        <a href="javascript:;">
          <span class="icon-box"><i class="fa fa-briefcase"></i></span>
          <span class="module_name">Orders</span>
          <span class="arrow {% ifstartswith '/order/' %}open{% endifstartswith %}"></span>
        </a>
        <ul class="sub" {% ifstartswith '/order/' %}style='display:block;'{% endifstartswith %}>
            <li><a href="{% url 'order-add' %}">New Order</a></li>
            <li><a href="{% url 'order-index' %}">Order List</a></li>
        </ul>
      </li>
      {%endif%}

      {% if perms.product.add_product or perms.product.view_product %}
      <li class="has-sub {% ifstartswith '/product/' %}open{% endifstartswith %}">
        <a href="javascript:;">
          <span class="icon-box"><i class="fa fa-briefcase"></i></span>
          <span class="module_name">Products</span>
          <span class="arrow {% ifstartswith '/product/' %}open{% endifstartswith %}"></span>
        </a>
        <ul class="sub" {% ifstartswith '/product/' %}style='display:block;'{% endifstartswith %}>
            <li><a href="{% url 'product-add' %}">Add Product</a></li>
            <li><a href="{% url 'product-list' %}">Product List</a></li>
        </ul>
      </li>
      {%endif%}

      {% if perms.device.add_device or perms.device.add_devicegroup or perms.device.add_schedule %}
      <li class="has-sub {% ifstartswith "/admin/device/" %}open{% endifstartswith %}">
        <a href="javascript:;">
          <span class="icon-box"> <i class="fa fa-hdd-o"></i></span>
          <span class="module_name">Devices</span>
          <span class="arrow {% ifstartswith "/admin/device/" %}open{% endifstartswith %}{% ifstartswith "/admin/schedules/" %}open{% endifstartswith %}"></span>
        </a>
        <ul class="sub" {% ifstartswith "/admin/device/" %}style='display:block;'{% endifstartswith %}{% ifstartswith "/admin/schedules/" %}style='display:block;'{% endifstartswith %}>
          {% if perms.device.add_device %}<li><a href="{% url 'member-home' %}">Device List</a></li>{% endif %}
          {% if perms.device.add_devicegroup  %}<li><a href="{% url 'member-home' %}">Groups</a></li>{% endif %}
          {% if perms.schedules.add_schedule %}<li><a href="{% url 'member-home' %}">Schedules</a></li>{% endif %}
          {% if perms.device.add_message %}<li><a href="{% url 'member-home' %}">Notifications</a></li>{% endif %}
        </ul>
      </li>
      {% endif %}
      {% if perms.meals.add_meals or perms.news.add_news or perms.activities.add_activity or perms.accounts.view_twitter or perms.accounts.view_feed or perms.signage.add_slide %}
      <li class="has-sub {% ifstartswith "/admin/activities/" %}open{% endifstartswith %}{% ifstartswith "/admin/news/" %}open{% endifstartswith %}{% ifstartswith "/admin/signage/" %}open{% endifstartswith %}{% ifstartswith "/admin/meals/" %}open{% endifstartswith %}{% ifstartswith "/admin/feed/" %}open{% endifstartswith %}{% ifstartswith "/admin/twitter/" %}open{% endifstartswith %}">
        <a href="javascript:;">
          <span class="icon-box"> <i class="fa fa-th"></i></span>
          <span class="module_name">Applications</span>
          <span class="arrow {% ifstartswith "/admin/activities/" %}open{% endifstartswith %}{% ifstartswith "/admin/news/" %}open{% endifstartswith %}{% ifstartswith "/admin/signage/" %}open{% endifstartswith %}{% ifstartswith "/admin/meals/" %}open{% endifstartswith %}{% ifstartswith "/admin/feed/" %}open{% endifstartswith %}{% ifstartswith "/admin/twitter/" %}open{% endifstartswith %}"></span>
        </a>
        <ul class="sub" {% ifstartswith "/admin/activities/" %}style='display:block;'{% endifstartswith %}{% ifstartswith "/admin/news/" %}style='display:block;'{% endifstartswith %}{% ifstartswith "/admin/signage/" %}style='display:block;'{% endifstartswith %}{% ifstartswith "/admin/meals/" %}style='display:block;'{% endifstartswith %}{% ifstartswith "/admin/feed/" %}style='display:block;'{% endifstartswith %}{% ifstartswith "/admin/twitter/" %}style='display:block;'{% endifstartswith %}">
          {% if perms.activities.add_activity %}<li><a href="{% url 'member-home' %}">Activities</a></li>{% endif %}
          {% if perms.news.add_news %}<li><a href="{% url 'member-home' %}">Announcements</a></li>{% endif %}

        </ul>
      </li>
      {% endif %}
      {% if perms.accounts.can_export or perms.settings.view_network_configuration or user.is_superuser or perms.skin_add_setting or perms.mediasource.add_streamingprotocol or perms.mediasource.add_streamingserver or perms.mediasource.add_network or perms.ldap_auth.add_ldapconfig or perms.parental_control.add_rule or perms.categories.add_category %}
        <li class="has-sub">
            <a href="javascript:;">
                <span class="icon-box"> <i class="fa fa-cogs"></i></span>
            <span class="module_name">Configuration</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub">
              {% if perms.can_export %}<li><a href="{% url 'member-home' %}">Backup</a></li>{% endif %}
              {% if perms.categories.add_category %}<li><a href="{% url 'member-home' %}">Categories</a></li>{% endif %}
              {% if perms.ldap_auth.add_ldapconfig %}<li><a href="{% url 'member-home' %}">LDAP Authentication</a></li>{% endif %}
            </ul>
        </li>
      {% endif %}
    </ul>
  </div>
{% endif %}
