{% if edit_user.productpurchase_set.all %}
<table class="table table-striped table-list user-purchases">
    <thead>
        <tr>
            <th>Purchase ID</th>
            <th class="hidden-phone">Package</th>
            <th class="hidden-phone"></th>
        </tr>
    </thead>
    <tbody>
    {% for purchase in edit_user.productpurchase_set.all %}
        {% for product in purchase.products.all %}
        <tr>
            <td>{{purchase.pk}}</td>
            <td class="hidden-phone">{{product.name}}</td>
            <td><a role="button" class="btn btn-warning btn-mini tooltips">Cancel</a></td>
        </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>
{% else %}
    <div class="alert alert-block">
      <strong>Attention!</strong> User has no purchases yet.
    </div>
{% endif %}
{% if perms.accounts.change_omniscreenuser %}
<div class="form-actions">
    <input type="hidden" name="user_id" value="{{edit_user.pk}}" />
    <a href="#CreatePurchaseModel" data-toggle="modal" class="btn btn-primary">Add Package</a>
</div>
{% endif %}
