{% load order_tags %}

<li class="treeview active">
  <a href="javascript:void(0)">
    <i class='fa fa-shopping-cart'></i>
    <b>Order</b>

    <span class="pull-right-container">
      <small class="label pull-right bg-red">{% finished_order_counter %}</small>
      <small class="label pull-right bg-green">{% shipping_order_counter %}</small>
      <small class="label pull-right bg-blue">{% new_order_counter %}</small>
    </span>
  </a>
  <ul class="treeview-menu menu-open" style="display: block;">

    {% if perms.order.view_order %}
    <li>
      {% if perms.order.add_order %}
      <a href="{% url 'order:order-add' %}" class="pull-right">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </a>
      {% endif %}
      <a href="{% url 'order:order-list-short' %}" class="main">
        <i class="fa fa-circle-o"></i>
        Order
      </a>
    </li>
    {% endif %}

    {% if perms.order.view_orderproduct %}
    <li>
      <a href="{% url 'order:orderproduct-list' %}" class="main">
        <i class="fa fa-circle-o"></i>
        OrderProduct
      </a>
    </li>
    {%endif%}
  </ul>
</li>
