{% extends "adminlte/common_tab_list.html" %}
{% load static %}

{% block common_list_buttons %}
  {% if page_model_perms.add %}
    <a class="btn btn-primary" id="create">
      <i class="fa fa-plus"></i> 新订单
    </a>
  {% endif %}
  {% if page_model_perms.delete %}
    <a class="btn btn-danger hidden-sm hidden-xs" v-on:click="removeSelected">
      <i class="fa fa-trash-o"></i> 删除
    </a>
  {% endif %}
{% endblock %}

{% block tab_nav %}
  <ul class="nav nav-tabs">
    <li data-status="CREATED" class="active">
      <a data-toggle="tab" href="#pane-CREATED"> 未完成</a>
    </li>
    <li data-status="ONGOING">
      <a data-toggle="tab" href="#pane-ONGOING"> 在途中</a>
    </li>
    <li data-status="FINISHED">
      <a data-toggle="tab" href="#pane-FINISHED"> 已完成</a>
    </li>
  </ul>
{% endblock %}

{% block tab_content %}
  <div class="tab-content">
    {% include 'order/tabs/created_order.html' %}
    {% include 'order/tabs/ongoing_order.html' %}
    {% include 'order/tabs/finished_order.html' %}
  </div>
{% endblock %}


{% block common_list_footer_page_script %}
    <input type="hidden" id="csrf-token" value="{{ csrf_token }}">
    {% include 'order/modal/orderproduct_modal.html' %}
    {% include 'order/modal/parcel_modal.html' %}

  {{ expressorder_form.media }}
  {{ orderproduct_form.media }}
  <script type="text/javascript" src="{% static 'js/order/order_list_base.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/order/order_list.js' %}"></script>
{% endblock %}