{% extends "adminlte/common_detail_new.html" %}
{% load static adminlte_tags %}

{% block base_body_class %}
    {{ block.super }} track_table_page
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <i class="fa fa-dashboard"></i> {{ default_dashboard_title }}
            </a>
        </li>
        {% if page_title != default_dashboard_title %}
            <li class="active">
                {{ page_title }}
            </li>
        {% endif %}
        {% if object != None %}
            <li class="active">{{ page_title }}详情</li>
        {% endif %}
    </ol>
{% endblock %}

{% block table_content %}
    <tr>
        <th style="min-width: 44px">姓名</th>
        <td>
            {{ object.customer }}
        </td>
    </tr>
    <tr>
        <th>地址</th>
        <td>
            {{ object.address_text }}
        </td>
    </tr>
    <tr>
        <th>产品</th>
        <td>
            {% for prod in object.products.all %}
                {% if prod.product and prod.product.pic %}
                    <a target="_blank" href="{{ prod.product.pic.url }}">
                        {% if prod.name %}
                            {{ prod.name }}
                        {% else %}
                            {{ prod.product.brand.name_en }} {{ prod.product.name_cn }}
                        {% endif %}
                    </a>
                    = ¥{{ prod.sell_price_rmb }} X {{ prod.amount }}<br/>
                {% else %}
                    {{ prod.name }} = ¥{{ prod.sell_price_rmb }} X {{ prod.amount }}<br/>
                {% endif %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>总价</th>
        <td>
            ¥{{ object.sell_price_rmb }}
            {% if object.is_paid %}
                (已支付)
            {% else %}
                (<b>未支付</b>)
            {% endif %}
            {% ifnotequal object.origin_sell_rmb object.sell_price_rmb %}
                (原价: {{ object.origin_sell_rmb }})
            {% endifnotequal %}
        </td>
    </tr>

    <tr>
        <th>状态</th>
        <td>
            {% if object.status == 'CREATED' %}
                <span class="label label-info">新建</span>
            {% elif object.status == 'SHIPPING' %}
                <span class="label label-success">在途</span>
            {% elif object.status == 'DELIVERED' %}
                <span class="label label-warning">寄达</span>
            {% elif object.status == 'FINISHED' %}
                <span class="label label-danger">完成</span>
            {% endif %}
        </td>
    </tr>

    <tr>
        <th>物流</th>
        <td></td>
    </tr>
    <tr>
        <td colspan="2">
            <table>
                {% for ex in object.express_orders.all %}
                    <tr>
                        <td>
                            [<a target="_blank" href="{{ ex.carrier.website }}">{{ ex.carrier.name_cn }}</a>]
                            {% if ex.get_track_url %}
                                <a target="_blank" href="{{ ex.get_track_url }}">{{ ex.track_id }}</a> [
                                {{ ex.create_time|date:"m/d"|default:"" }}寄出 {% if ex.is_delivered %} -
                                {{ ex.delivered_time|date:"m/d"|default:"" }}已寄达{% endif %}]
                            {% else %}
                                {{ ex.track_id }} (
                                <a target="_blank" href="{{ ex.carrier.website }}?id={{ ex.track_id }}">请手动查询</a>)
                            {% endif %}
                        </td>
                    </tr>
                    {% if ex.order.seller.is_premium %}
                        <tr>
                            <td>
                                <ul>
                                    <li>{{ ex.last_track|default:"暂无物流跟踪信息" }}</li>
                                </ul>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </td>
    </tr>
{% endblock %}


{% block menu %}
    
{% endblock %}

{% block page_footer %}
    {% if request.user.seller.is_premium %}
        <p style="font-size: 11px">* 请保存本页链接,物流跟踪信息将在本页每日更新</p>
    {% else %}
        {% if request.user.is_seller %}
            <p style="font-size: 11px">* 加入高级会员可开启物流跟踪及短信提醒,<a href="#">了解详情</a>.</p>
        {% endif %}
    {% endif %}
{% endblock %}
