
{% extends "adminlte/common_detail_new.html" %}
{% load static adminlte_tags %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <i class="fa fa-dashboard"></i> {{ default_dashboard_title }}
            </a>
        </li>
        {% if page_title != default_dashboard_title %}
        <li class="active">
            <a href="{% url 'order:order-list-short' %}">
                {{ page_model_verbose_name }}
            </a>
        </li>
        {% endif %}
        {% if object != None %}
            <li class="active">{{ page_title }}详情</li>
        {% endif %}
    </ol>
{% endblock %}

{% block table_content %}
    <tr>
        <th style="min-width: 44px">姓名</th>
        <td>
            <a href="{% url 'admin:customer_customer_change' object.customer.pk %}">{{ object.customer }}</a>
            {% if object.customer.remarks %}
                - {{ object.customer.remarks }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>证件</th>
        <td>{{ object.address.id_number }}</td>
    </tr>
    <tr>
        <th>地址</th>
        <td>
            <a href="#">{{ object.address }}</a>
        </td>
    </tr>
    <tr>
        <th>产品</th>
        <td>
            {% for prod in object.products.all %}
                {% if prod.get_link %}
                    <a target="_blank" href="{{ prod.get_link }}"> {{ prod.product.brand.name_en }} {{ prod.product.name_cn }}</a>
                    = {{ prod.sell_price_rmb }} X {{ prod.amount }}<br/>
                {% else %}
                    {{ prod.name }} = {{ prod.sell_price_rmb }} X {{ prod.amount }}<br/>
                {% endif %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>总价</th>
        <td>
            {{ object.product_cost_aud }} + {{ object.shipping_fee }} = {{ object.total_cost_aud }} ({{ object.total_cost_rmb }})<br/>
            {% ifequal object.origin_sell_rmb object.sell_price_rmb %}
                {{ object.origin_sell_rmb }}
            {% else %}
                [{{ object.origin_sell_rmb }}] {{ object.sell_price_rmb }}
            {% endifequal %}
            - {{ object.total_cost_rmb }} = {{ object.profit_rmb }}
            {% if object.is_paid %}
                (已支付)
            {% else %}
                (<a href="{% url 'order:change-order-paid' order_id=object.pk %}"><b>未支付</b></a>)
            {% endif %}
        </td>
    </tr>

    <tr>
        <th>物流</th>
        <td>
            {% for ex in object.express_orders.all %}
                [<a target="_blank" href="{{ ex.carrier.website }}">{{ ex.carrier.name_cn }}</a>]
                <a target="_blank" href="{{ ex.get_track_url }}">{{ ex.track_id }}</a><br/>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>状态</th>
        <td>
            {% if object.status == 'CREATED'  %}
                <span class="label label-info">{{ object.status }}</span>
            {% elif object.status == 'SHIPPING' %}
                <span class="label label-success">{{ object.status }}</span>
            {% elif object.status == 'DELIVERED' %}
                <span class="label label-warning">{{ object.status }}</span>
            {% elif object.status == 'FINISHED' %}
                <span class="label label-danger">{{ object.status }}</span>
            {% endif %}
            >
            <a href="{% url 'order:change-order-status' order_id=object.pk status_value=object.next_status %}">
            {% if object.next_status == 'CREATED'  %}
                <span class="label label-info">{{ object.next_status }}</span>
            {% elif object.next_status == 'SHIPPING' %}
                <span class="label label-success">{{ object.next_status }}</span>
            {% elif object.next_status == 'DELIVERED' %}
                <span class="label label-warning">{{ object.next_status }}</span>
            {% elif object.next_status == 'FINISHED' %}
                <span class="label label-danger">{{ object.next_status }}</span>
            {% endif %}
            </a>
        </td>
    </tr>
{% endblock %}

