
{% extends "adminlte/common_form.html" %}
{% load static adminlte_tags %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <i class="fa fa-dashboard"></i> {{ default_dashboard_title }}
            </a>
        </li>
        {% if page_title != default_dashboard_title %}
        <li class="active">
            {{ page_title }}
        </li>
        {% endif %}
        {% if object != None %}
            <li class="active">{{ page_title }}详情</li>
        {% endif %}
    </ol>
{% endblock %}


{% block content %}
    {% if form.is_multipart %}
        <form enctype="multipart/form-data"
              method="post"
              action=""
              class="form-horizontal"
              role="form" id="commonForm">
    {% else %}
        <form method="post" action="" class="form-horizontal"
              role="form" id="commonForm">
    {% endif %}
    {% csrf_token %}

    <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{{ object }}</h3>
        </div>

        <div class="box-body">
            {% for field in form %}
                <div class="form-group">
                    <label for="id_{{ field.name }}" class="col-sm-2 control-label">{{ field.label }}</label>
                    <div class="col-sm-6">
                        {{ field }}
                    </div>
                    <div class="col-sm-4">
                        {{ field.errors }}
                        <p class="help-block">{{ field.help_text }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="box-footer">
          <button type="submit" style="width:96px" class="btn btn-primary col-sm-offset-2">保 存</button>
          <button type="submit" style="width:96px" class="btn btn-primary">保存并返回</button>
        </div>
    </div>

{#    <pre> {% filter force_escape %} {% debug %} {% endfilter %} </pre>#}

    <div id="orderproduct" class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">订单产品</h3>
        </div>

        <div id="product_table" class="box-body form-horizontal">
            <div class="form-group">
                <div class="col-sm-3">
                    <b>产品</b>
                </div>
                <div class="col-sm-3">
                    <b>名称</b>
                </div>
                <div class="col-sm-1">
                    <b>数量</b>
                </div>
                <div class="col-sm-1">
                    <b>售价</b>
                </div>
                <div class="col-sm-1">
                    <b>小计</b>
                </div>
                <div class="col-sm-1">
                    <b>进价</b>
                </div>
                <div class="col-sm-2">
                    <b>来源</b>
                </div>
            </div>

            {% for product in product_forms %}
            <div class="form-group" data-pk="{{ product.instance.pk }}">
                <input id="id_products-{{ forloop.counter0 }}-id" name="products-{{ forloop.counter0 }}-id" type="hidden" value="{{ product.instance.pk }}">
                <div class="col-sm-3" id="{{ product.product.id_for_label }}">
                    {{ product.product }}
                </div>
                <div class="col-sm-3" id="{{ product.name.id_for_label }}">
                    {{ product.name }}
                </div>
                <div class="col-sm-1" id="{{ product.amount.id_for_label }}">
                    {{ product.amount }}
                </div>
                <div class="col-sm-1" id="{{ product.sell_price_rmb.id_for_label }}">
                    {{ product.sell_price_rmb }}
                </div>
                <div class="col-sm-1" id="{{ product.sum_price.id_for_label }}">
                    {{ product.sum_price }}
                </div>
                <div class="col-sm-1" id="{{ product.cost_price_aud.id_for_label }}">
                    {{ product.cost_price_aud }}
                </div>
                <div class="col-sm-2" id="{{ product.store.id_for_label }}">
                    {{ product.store }}
                    <button style="float:right" type="button" class="btn-sm btn-danger ">删除</button>
                </div>
            </div>
            {% endfor %}
            <input id="product_forms_length" name="product_forms_length" type="hidden" value="{{ product_forms|length }}">


            <div class="form-group">
                <input id="id_products-{{ product_forms|length }}-id" name="products-{{ product_forms|length }}-id" type="hidden" value="">
                <div class="col-sm-3" id="{{ new_product_form.product.id_for_label }}">
                    {{ new_product_form.product }}
                </div>
                <div class="col-sm-3" id="{{ new_product_form.name.id_for_label }}">
                    {{ new_product_form.name }}
                </div>
                <div class="col-sm-1" id="{{ new_product_form.amount.id_for_label }}">
                    {{ new_product_form.amount }}
                </div>
                <div class="col-sm-1" id="{{ new_product_form.sell_price_rmb.id_for_label }}">
                    {{ new_product_form.sell_price_rmb }}
                </div>
                <div class="col-sm-1" id="{{ new_product_form.sum_price.id_for_label }}">
                    {{ new_product_form.sum_price }}
                </div>
                <div class="col-sm-1" id="{{ new_product_form.cost_price_aud.id_for_label }}">
                    {{ new_product_form.cost_price_aud }}
                </div>
                <div class="col-sm-2" id="{{ new_product_form.store.id_for_label }}">
                    {{ new_product_form.store }}
                    <button style="float:right" type="button" class="btn-sm btn-danger ">删除</button>
                </div>
            </div>
        </div>

        <div class="box-body">
            <button type="button" class="btn btn-success col-sm-1" v-on:click="addone">增加一项</button>
            <div class=" col-sm-9">
              <b>总计:</b>
              <span class="total_price"></span>
            </div>
        </div>
        <div class="box-footer">
          <button type="submit" style="width:96px" class="btn btn-primary">保 存</button>
          <button type="submit" style="width:96px" class="btn btn-primary">保存并返回</button>
        </div>
    </div>
    </form>

    <div class="hide" id="product_template">
        <div class="form-group">
            <input id="id_products-{{ product_forms|length }}-id" name="products-{{ product_forms|length }}-id" type="hidden" value="">
            <div class="col-sm-3" id="{{ new_product_form.product.id_for_label }}">
                {{ new_product_form.product }}
            </div>
            <div class="col-sm-3" id="{{ new_product_form.name.id_for_label }}">
                {{ new_product_form.name }}
            </div>
            <div class="col-sm-1" id="{{ new_product_form.amount.id_for_label }}">
                {{ new_product_form.amount }}
            </div>
            <div class="col-sm-1" id="{{ new_product_form.sell_price_rmb.id_for_label }}">
                {{ new_product_form.sell_price_rmb }}
            </div>
            <div class="col-sm-1" id="{{ new_product_form.sum_price.id_for_label }}">
                {{ new_product_form.sum_price }}
            </div>
            <div class="col-sm-1" id="{{ new_product_form.cost_price_aud.id_for_label }}">
                {{ new_product_form.cost_price_aud }}
            </div>
            <div class="col-sm-2" id="{{ new_product_form.store.id_for_label }}">
                {{ new_product_form.store }}
                <button style="float:right" type="button" class="btn-sm btn-danger ">删除</button>
            </div>
        </div>
    </div>


{#    <div class="row">#}
{#        <section class="col-lg-3 connectedSortable">#}
{#        <div class="box box-info">#}
{#            {% if form.is_multipart %}#}
{#                <form enctype="multipart/form-data"#}
{#                      method="post"#}
{#                      action=""#}
{#                      class="form-horizontal"#}
{#                      role="form" id="commonForm">#}
{#            {% else %}#}
{#                <form method="post" action="" class="form-horizontal"#}
{#                      role="form" id="commonForm">#}
{#            {% endif %}#}
{#            {% csrf_token %}#}
{##}
{#            <div class="box-header with-border">#}
{#              <h3 class="box-title">{{ object }}</h3>#}
{#            </div>#}
{##}
{#            <div class="box-body">#}
{#                {% for field in form %}#}
{#                    <div class="form-group">#}
{#                        <label for="id_{{ field.name }}" class="col-sm-4 control-label">{{ field.label }}</label>#}
{#                        <div class="col-sm-7">#}
{#                            {{ field }}#}
{#                        </div>#}
{#                        <div class="col-sm-4">#}
{#                            {{ field.errors }}#}
{#                            <p class="help-block">{{ field.help_text }}</p>#}
{#                        </div>#}
{#                    </div>#}
{#                {% endfor %}#}
{#            </div>#}
{#            <div class="box-footer">#}
{#              <button type="submit" class="btn btn-primary col-sm-offset-2">保 存</button>#}
{#            </div>#}
{#        </form>#}
{#        </div>#}
{#        </section>#}
{##}
{#        <section class="col-lg-9 connectedSortable">#}
{#        <div class="box box-info">#}
{#            <div class="box-header with-border">#}
{#              <h3 class="box-title">订单产品</h3>#}
{#            </div>#}
{#            <div class="box-body form-horizontal">#}
{#                <div class="form-group">#}
{#                    <div class="col-sm-3">#}
{#                        <b>产品</b>#}
{#                    </div>#}
{#                    <div class="col-sm-3">#}
{#                        <b>名称</b>#}
{#                    </div>#}
{#                    <div class="col-sm-1">#}
{#                        <b>数量</b>#}
{#                    </div>#}
{#                    <div class="col-sm-2">#}
{#                        <b>售价</b>#}
{#                    </div>#}
{#                    <div class="col-sm-2">#}
{#                        <b>小计</b>#}
{#                    </div>#}
{#                    <div class="col-sm-1">#}
{#                        <b>删除</b>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="form-group">#}
{#                    <div class="col-sm-3">#}
{#                        <input id="id_product_cost_aud" name="product_cost_aud" step="0.01" type="number" value="100.00" class="form-control">#}
{#                    </div>#}
{#                    <div class="col-sm-3">#}
{#                        <input id="id_product_cost_aud" name="product_cost_aud" step="0.01" type="number" value="100.00" class="form-control">#}
{#                    </div>#}
{#                    <div class="col-sm-1">#}
{#                        <input id="id_product_cost_aud" name="product_cost_aud" step="0.01" type="number" value="100.00" class="form-control">#}
{#                    </div>#}
{#                    <div class="col-sm-2">#}
{#                        <input id="id_product_cost_aud" name="product_cost_aud" step="0.01" type="number" value="100.00" class="form-control">#}
{#                    </div>#}
{#                    <div class="col-sm-2">#}
{#                        <input id="id_product_cost_aud" name="product_cost_aud" step="0.01" type="number" value="100.00" class="form-control">#}
{#                    </div>#}
{#                    <div class="col-sm-1">#}
{#                        <button type="button" class="btn btn-danger ">删除</button>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="form-group">#}
{#                    <div class="col-sm-12">#}
{#                        <button type="button" class="btn btn-success col-sm-2">增加一项</button>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="box-footer form-horizontal">#}
{#                <div class="form-group col-sm-12">#}
{#                  <b>总计:</b>#}
{#                  <span class="total_price"></span>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        </section>#}
{#    </div>#}
{% endblock %}

{% block header_page_script %}
    <link rel="stylesheet" type="text/css" href="{% static "plugins/jquery-chosen/chosen.css" %}" />
    <script type="text/javascript" src="{% static "plugins/jquery-chosen/chosen.jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/order/order_edit.js" %}"></script>
{% endblock %}

{% block footer_page_script %}
    <script type="text/javascript">
    var orderEditPageVue = new OrderEditPageVue();
    </script>
{% endblock %}