
{% extends "adminlte/common_tab_list.html" %}
{% load static %}

{% block common_list_footer_page_script %}
    <script type="text/javascript" src="{% static 'js/order/order_list_base.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/order/order_list.js' %}"></script>
{% endblock %}

{% block tab_nav %}
    <ul class="nav nav-tabs">
      <li data-status="ONGOING" class="active">
        <a data-toggle="tab" href="#pane-ONGOING"> 进行中</a>
      </li>
      <li data-status="FINISHED">
        <a data-toggle="tab" href="#pane-FINISHED"> 已完成</a>
      </li>
    </ul>
{% endblock %}

{% block tab_content %}
<div class="tab-content">
    <div class="tab-pane active" id="pane-ONGOING">
        <table class="table table-hover" data-status="ONGOING">
            <thead>
                <tr>
                    <th class="text-center hidden-sm hidden-xs" style="width:60px;">
                        <input type="checkbox"
                               name="checkboxAllRow" class="checkboxAllRow"
                               v-on:click="toggleAllBox"/>
                    </th>
                    <th class="visible-sm visible-xs"></th>
                    <th>
                        Date
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Price
                    </th>
                    <th class="hidden-sm hidden-xs">
                        Ship
                    </th>
                    <th class="hidden-sm hidden-xs">

                    </th>
                </tr>
                </thead>
                <tfoot>
                    <tr>
                    </tr>
                </tfoot>
                <tbody v-for="item in ongoing_items">
                    <tr v-if="item.id" v-on:click="showShipping(item.id, $event)" data-pk="{!! item.id !!}">
                        <td class="text-center hidden-sm hidden-xs">
                            <input type="checkbox" class="minimal"
                                   name="checkboxRow"
                                   value="#[item.id]"/>
                        </td>
                        <td class="visible-sm visible-xs show_shipping" style="width:50px">
                            <i class="fa fa-plus-square text-info" aria-hidden="true"></i>
                        </td>
                        <td>
                            <a target="_blank" href="{!! item.link !!}">{!! item.create_time_display !!}</a>
                        </td>
                        <td>
                            <a href="{!! item.customer_url !!}">{!! item.customer_display !!}</a>
                        </td>
                        <td>
                            <template v-if="item.status == 'CREATED'">
                                <a class="label label-info" v-on:click="next_ship_status(item.next_status_url,'在途', $event)">新建</a>
{#                                <a class="hidden-sm hidden-md hidden-lg label label-info">C</a>#}
                            </template>
                            <template v-if="item.status == 'SHIPPING'">
                                <a class="label label-success" v-on:click="next_ship_status(item.next_status_url,'寄达', $event)">在途</a>
{#                                <a class="hidden-sm hidden-md hidden-lg label label-success">S</a>#}
                            </template>
                            <template v-if="item.status == 'DELIVERED'">
                                <a class="label label-warning" v-on:click="next_ship_status(item.next_status_url,'完成', $event)">寄达</a>
{#                                <a class="hidden-sm hidden-md hidden-lg label label-warning">D</a>#}
                            </template>
                            <template v-if="item.status == 'FINISHED'">
                                <a class="label label-danger" v-on:click="next_ship_status(item.next_status_url,'', $event)">完成</a>
{#                                <a class="hidden-sm hidden-md hidden-lg label label-danger" >F</a>#}
                            </template>
                        </td>
                        <td class="hidden-sm hidden-xs">
                            AUD:{!! item.product_cost_aud !!} + {!! item.shipping_fee !!} = {!! item.total_cost_aud !!}<br/>
                            RMB:<template v-if="item.origin_sell_rmb == item.sell_price_rmb">
                                {!! item.sell_price_rmb !!}
                            </template>
                            <template v-else>
                                [{!! item.origin_sell_rmb !!}] {!! item.sell_price_rmb !!}
                            </template>
                            - {!! item.total_cost_rmb !!} = {!! item.profit_rmb !!}
                            <template v-if="item.is_paid">
                                (已支付)
                            </template>
                            <template v-else>
                                <a class="label-as-badge label label-danger" v-on:click="pay(item.paid_url, $event)">
                                    <i class="fa fa-jpy"></i>
                                </a>
                            </template>
                        </td>
                        <td class="visible-sm visible-xs">
                            <a href="{!! item.edit_url !!}#orderproduct">{!! item.sell_price_rmb !!}</a>
                            <template v-if="item.is_paid">
                            </template>
                            <template v-else>
{#                              class="label label-primary"  (<a href="{!! item.paid_url !!}"><b>未</b></a>)#}
                                <a style="float:right" class="label-as-badge label label-danger" v-on:click="pay(item.paid_url, $event)">
                                    <i class="fa fa-jpy" aria-hidden="true"></i>
                                </a>
                            </template>
                        </td>
                        <td class="hidden-sm hidden-xs">
                            <div>
                                {!! item.shipping_order !!}
                            </div>
                        </td>
                        <td class="text-right hidden-sm hidden-xs">
                            {% if page_model_perms.view %}
                            <a data-toggle="tooltip" data-placement="bottom" data-original-title="View" href="javascript:void(0);"
                               class="btn btn-info btn-sm"  data-pk="#[item.id]" data-customer="#[item.customer]" v-on:click="detail">
                               <i class="fa fa-bars fa-inverse"></i>
                            </a>
                            {% endif %}
                            {% if page_model_perms.change %}
                            <a data-toggle="tooltip" data-placement="bottom" data-original-title="Edit" href="javascript:void(0);"
                               class="btn btn-warning btn-sm" data-pk="#[item.id]" v-on:click="update">
                                <i class="fa fa-pencil fa-inverse"></i>
                            </a>
                            {% endif %}
                            {% if page_model_perms.delete %}
                            <a data-toggle="tooltip" data-placement="bottom" data-original-title="Delete" href="javascript:void(0);"
                               class="btn btn-danger btn-sm" data-pk="#[item.id]" v-on:click="removeOne">
                                <i class="fa fa-trash-o fa-inverse"></i>
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                    <tr v-if="item.shipping_order" class="hide hidden-md hidden-lg" id="shipping_{!! item.id !!}">
                        <td colspan="22">
                            <div style="float:left">
                                {!! item.product_summary !!}
                            </div>
                            <div style="float:left">
                                {!! item.shipping_order !!}
                            </div>
                        </td>
                    </tr>
                </tbody>
        </table>

        <div class="form-inline" align="center">
        <ul class="pagination pagination-sm no-margin form-group">
            <li v-if="ongoing_totalPage > 1">
                <a href="javascript:void(0);"
                   page="1" v-on:click="page_ongoing">首页</a>
            </li>
            <template v-if="ongoing_totalPage == 1">
                <li class="disabled">
                    <a href="javascript:void(0);">首页</a>
                </li>
            </template>
            <li v-if="ongoing_currentPage > 1">
                <a href="javascript:void(0);"
                   page="#[ongoing_currentPage-1]"
                   v-on:click="page_ongoing">
                    上页</a>
            </li>
            <template v-if="ongoing_currentPage == 1">
                <li class="disabled">
                    <a href="javascript:void(0);">上页</a>
                </li>
            </template>
            <li v-if="ongoing_currentPage < ongoing_totalPage">
                <a href="javascript:void(0);"
                   page="#[ongoing_currentPage+1]"
                   v-on:click="page_ongoing">
                    下页</a>
            </li>
            <template v-if="ongoing_currentPage == ongoing_totalPage">
                <li class="disabled">
                    <a href="javascript:void(0);">下页</a>
                </li>
            </template>
            <li v-if="ongoing_totalPage > 1">
                <a href="javascript:void(0);"
                   page="#[ongoing_totalPage]"
                   v-on:click="page_ongoing">末页</a>
            </li>
            <template v-if="ongoing_totalPage == 1">
                <li class="disabled">
                    <a href="javascript:void(0);">末页</a>
                </li>
            </template>
        </ul>
        <div class="form-group" style="line-height: 29px;">
            &nbsp;&nbsp;&nbsp;共 #[ongoing_count] 条数据, 每页 #[ongoing_perPage] 条, 第 #[ongoing_currentPage]/#[ongoing_totalPage] 页
        </div>
        </div>
        <br/>

    </div>

    <div class="tab-pane" id="pane-FINISHED">
        <table class="table table-hover" data-status="FINISHED">
            <thead>
                <tr>
                    <th class="text-center hidden-sm hidden-xs" style="width:60px;">
                        <input type="checkbox"
                               name="checkboxAllRow" class="checkboxAllRow"
                               v-on:click="toggleAllBox"/>
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Name
                    </th>
                    <th class="hidden-sm hidden-xs">
                        Status
                    </th>
                    <th class="hidden-sm hidden-xs">
                        Ship
                    </th>
                    <th>
                        Sell
                    </th>
                    <th>
                        Cost
                    </th>
                    <th>
                        Profit
                    </th>
                    <th class="hidden-sm hidden-xs">

                    </th>
                </tr>
                </thead>
                <tbody v-for="item in finished_items">
                    <tr v-if="item.id" v-on:click="showShipping(item.id, $event)" data-pk="{!! item.id !!}">
                        <td class="text-center hidden-sm hidden-xs">
                            <input type="checkbox" class="minimal"
                                   name="checkboxRow"
                                   value="#[item.id]"/>
                        </td>
                        <td>
                            <a target="_blank" href="{!! item.link !!}">{!! item.create_time_display !!}</a>
                        </td>
                        <td>
                            <a href="{!! item.customer_url !!}">{!! item.customer_display !!}</a>
                        </td>
                        <td class="hidden-sm hidden-xs">
                            <span class="label label-danger">{!! item.status !!}</span>
                        </td>
                        <td class="hidden-sm hidden-xs">
                            {!! item.shipping_order !!}
                        </td>
{#                        <td>#}
{#                            AUD:{!! item.product_cost_aud !!} + {!! item.shipping_fee !!} = {!! item.total_cost_aud !!}<br/>#}
{#                            RMB:{% ifequal item.origin_sell_rmb item.sell_price_rmb %}#}
{#                                {!! item.origin_sell_rmb !!}#}
{#                            {% else %}#}
{#                                [{!! item.origin_sell_rmb !!}] {!! item.sell_price_rmb !!}#}
{#                            {% endifequal %}#}
{#                            - {!! item.total_cost_rmb !!} = {!! item.profit_rmb !!}#}
{#                        </td>#}
                        <td>
                            <a href="{!! item.edit_url !!}">{!! item.sell_price_rmb !!}</a>
                        </td>
                        <td>
                            {!! item.total_cost_rmb !!}
                        </td>
                        <td>
                            {!! item.profit_rmb !!}
                        </td>
                        <td class="text-right hidden-sm hidden-xs">
                            {% if page_model_perms.view %}
                            <a data-toggle="tooltip" data-placement="bottom" data-original-title="View" href="javascript:void(0);"
                               class="btn btn-info btn-sm"  data-pk="#[item.id]" v-on:click="detail">
                               <i class="fa fa-bars fa-inverse"></i>
                            </a>
                            {% endif %}
                            {% if page_model_perms.change %}
                            <a data-toggle="tooltip" data-placement="bottom" data-original-title="Edit" href="javascript:void(0);"
                               class="btn btn-warning btn-sm" data-pk="#[item.id]" v-on:click="update">
                                <i class="fa fa-pencil fa-inverse"></i>
                            </a>
                            {% endif %}
                            {% if page_model_perms.delete %}
                            <a data-toggle="tooltip" data-placement="bottom" data-original-title="Delete" href="javascript:void(0);"
                               class="btn btn-danger btn-sm" data-pk="#[item.id]" v-on:click="removeOne">
                                <i class="fa fa-trash-o fa-inverse"></i>
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                    <tr v-if="item.shipping_order" class="hide" id="shipping_{!! item.id !!}">
                        <td colspan="22">
                            <div style="float:left">
                                {!! item.product_summary !!}
                            </div>
                            <div style="float:left">
                                {!! item.shipping_order !!}
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                    </tr>
                </tfoot>
        </table>

        <div class="form-inline" align="center">
        <ul class="pagination pagination-sm no-margin form-group">
            <li v-if="finished_totalPage > 1">
                <a href="javascript:void(0);"
                   page="1" v-on:click="page_finished">首页</a>
            </li>
            <template v-if="finished_totalPage == 1">
                <li class="disabled">
                    <a href="javascript:void(0);">首页</a>
                </li>
            </template>
            <li v-if="finished_currentPage > 1">
                <a href="javascript:void(0);"
                   page="#[finished_currentPage-1]"
                   v-on:click="page_finished">
                    上页</a>
            </li>
            <template v-if="finished_currentPage == 1">
                <li class="disabled">
                    <a href="javascript:void(0);">上页</a>
                </li>
            </template>
            <li v-if="finished_currentPage < finished_totalPage">
                <a href="javascript:void(0);"
                   page="#[finished_currentPage+1]"
                   v-on:click="page_finished">
                    下页</a>
            </li>
            <template v-if="finished_currentPage == finished_totalPage">
                <li class="disabled">
                    <a href="javascript:void(0);">下页</a>
                </li>
            </template>
            <li v-if="finished_totalPage > 1">
                <a href="javascript:void(0);"
                   page="#[finished_totalPage]"
                   v-on:click="page_finished">末页</a>
            </li>
            <template v-if="finished_totalPage == 1">
                <li class="disabled">
                    <a href="javascript:void(0);">末页</a>
                </li>
            </template>
        </ul>
        <div class="form-group" style="line-height: 29px;">
            &nbsp;&nbsp;&nbsp;共 #[finished_count] 条数据, 每页 #[finished_perPage] 条, 第 #[finished_currentPage]/#[finished_totalPage] 页
        </div>
        </div>
        <br/>
    </div>
</div>
{% endblock %}

{% block common_list_pagination %}
{% endblock %}