
{% extends "adminlte/common_tab_list.html" %}
{% load static %}

{% block common_list_footer_page_script %}
    <script type="text/javascript" src="{% static 'js/order/order_list.js' %}"></script>
{% endblock %}

{% block tab_nav %}
    <ul class="nav nav-tabs">
      <li data-status="ONGOING" class="active">
        <a data-toggle="tab" href="#pane-ONGOING"> ONGOING</a>
      </li>
      <li data-status="FINISHED">
        <a data-toggle="tab" href="#pane-FINISHED"> FINISHED</a>
      </li>
    </ul>
{% endblock %}

{% block tab_content %}
<div class="tab-content">
    <div class="tab-pane active" id="pane-ONGOING">
        <table class="table table-hover" data-status="ONGOING">
            <thead>
                <tr>
                    <th class="text-center" style="width:60px;">
                        <input type="checkbox"
                               name="checkboxAllRow"
                               v-on:click="toggleAllBox"/>
                    </th>
                    {% for title in table_titles %}
                        {% if title == 'ID' %}
                            <th></th>
                        {% else %}
                            <th>
                                {{ title }}
                            </th>
                        {% endif %}
                    {% endfor %}
                </tr>
                </thead>
                <tfoot>
                    <tr>
                    </tr>
                </tfoot>
                <tbody v-for="item in ongoing_items">
                    <tr v-if="item.id">
                        <td class="text-center">
                            #[$index+1]
                            <input type="checkbox" class="minimal"
                                   name="checkboxRow"
                                   value="#[item.id]"/>
                        </td>
                        {% for field in table_fields %}
                            {% if field == 'id' %}
                                <td class="text-right">
                                    {% if page_model_perms.view %}
                                    <a data-toggle="tooltip" data-placement="bottom" data-original-title="View" href="javascript:void(0);"
                                       class="btn btn-info btn-sm"  data-pk="#[item.id]" v-on:click="detail">
                                       <i class="fa fa-bars fa-inverse"></i>
                                    </a>
                                    {% endif %}
                                    {% if page_model_perms.change %}
                                    <a data-toggle="tooltip" data-placement="bottom" data-original-title="Edit" href="javascript:void(0);"
                                       class="btn btn-warning btn-sm" data-pk="#[item.id]" v-on:click="update">
                                        <i class="fa fa-pencil fa-inverse"></i>
                                    </a>
                                    {% endif %}
                                    {% if page_model_perms.delete %}
                                    <a data-toggle="tooltip" data-placement="bottom" data-original-title="Delete" href="javascript:void(0);"
                                       class="btn btn-danger btn-sm" data-pk="#[item.id]" v-on:click="removeOne">
                                        <i class="fa fa-trash-o fa-inverse"></i>
                                    </a>
                                    {% endif %}
                                </td>
                            {% else %}
                                <td>
                                    {!! item.{{ field }} !!}
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </tbody>
        </table>

        <div class="form-inline" align="center">
        <ul class="pagination pagination-sm no-margin form-group">
            <li v-if="ongoing_totalPage > 1">
                <a href="javascript:void(0);"
                   page="1" v-on:click="page_ongoing">首页</a>
            </li>
            <template v-if="ongoing_totalPage == 1">
                <li class="disabled">
                    <a href="javascript:void(0);">首页</a>
                </li>
            </template>
            <li v-if="ongoing_currentPage > 1">
                <a href="javascript:void(0);"
                   page="#[ongoing_currentPage-1]"
                   v-on:click="page_ongoing">
                    上页</a>
            </li>
            <template v-if="ongoing_currentPage == 1">
                <li class="disabled">
                    <a href="javascript:void(0);">上页</a>
                </li>
            </template>
            <li v-if="ongoing_currentPage < ongoing_totalPage">
                <a href="javascript:void(0);"
                   page="#[ongoing_currentPage+1]"
                   v-on:click="page_ongoing">
                    下页</a>
            </li>
            <template v-if="ongoing_currentPage == ongoing_totalPage">
                <li class="disabled">
                    <a href="javascript:void(0);">下页</a>
                </li>
            </template>
            <li v-if="ongoing_totalPage > 1">
                <a href="javascript:void(0);"
                   page="#[ongoing_totalPage]"
                   v-on:click="page_ongoing">末页</a>
            </li>
            <template v-if="ongoing_totalPage == 1">
                <li class="disabled">
                    <a href="javascript:void(0);">末页</a>
                </li>
            </template>
        </ul>
        <div class="form-group" style="line-height: 29px;">
            &nbsp;&nbsp;&nbsp;共 #[ongoing_count] 条数据, 每页 #[ongoing_perPage] 条, 第 #[ongoing_currentPage]/#[ongoing_totalPage] 页
        </div>
        </div>
        <br/>

    </div>

    <div class="tab-pane" id="pane-FINISHED">
        <table class="table table-hover" data-status="FINISHED">
            <thead>
                <tr>
                    <th class="text-center" style="width:60px;">
                        <input type="checkbox"
                               name="checkboxAllRow"
                               v-on:click="toggleAllBox"/>
                    </th>
                    {% for title in table_titles %}
                        {% if title == 'ID' %}
                            <th></th>
                        {% else %}
                            <th>
                                {{ title }}
                            </th>
                        {% endif %}
                    {% endfor %}
                </tr>
                </thead>
                <tbody v-for="item in finished_items">
                    <tr v-if="item.id">
                        <td class="text-center">
                            #[$index+1]
                            <input type="checkbox" class="minimal"
                                   name="checkboxRow"
                                   value="#[item.id]"/>
                        </td>
                        {% for field in table_fields %}
                            {% if field == 'id' %}
                                <td class="text-right">
                                    {% if page_model_perms.view %}
                                    <a data-toggle="tooltip" data-placement="bottom" data-original-title="View" href="javascript:void(0);"
                                       class="btn btn-info btn-sm"  data-pk="#[item.id]" v-on:click="detail">
                                       <i class="fa fa-bars fa-inverse"></i>
                                    </a>
                                    {% endif %}
                                    {% if page_model_perms.change %}
                                    <a data-toggle="tooltip" data-placement="bottom" data-original-title="Edit" href="javascript:void(0);"
                                       class="btn btn-warning btn-sm" data-pk="#[item.id]" v-on:click="update">
                                        <i class="fa fa-pencil fa-inverse"></i>
                                    </a>
                                    {% endif %}
                                    {% if page_model_perms.delete %}
                                    <a data-toggle="tooltip" data-placement="bottom" data-original-title="Delete" href="javascript:void(0);"
                                       class="btn btn-danger btn-sm" data-pk="#[item.id]" v-on:click="removeOne">
                                        <i class="fa fa-trash-o fa-inverse"></i>
                                    </a>
                                    {% endif %}
                                </td>
                            {% else %}
                                <td>
                                    {!! item.{{ field }} !!}
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                    </tr>
                </tfoot>
        </table>

        <div class="form-inline" align="center">
        <ul class="pagination pagination-sm no-margin form-group">
            <li v-if="finished_totalPage > 1">
                <a href="javascript:void(0);"
                   page="1" v-on:click="page_finished">首页</a>
            </li>
            <template v-if="finished_totalPage == 1">
                <li class="disabled">
                    <a href="javascript:void(0);">首页</a>
                </li>
            </template>
            <li v-if="finished_currentPage > 1">
                <a href="javascript:void(0);"
                   page="#[finished_currentPage-1]"
                   v-on:click="page_finished">
                    上页</a>
            </li>
            <template v-if="finished_currentPage == 1">
                <li class="disabled">
                    <a href="javascript:void(0);">上页</a>
                </li>
            </template>
            <li v-if="finished_currentPage < finished_totalPage">
                <a href="javascript:void(0);"
                   page="#[finished_currentPage+1]"
                   v-on:click="page_finished">
                    下页</a>
            </li>
            <template v-if="finished_currentPage == finished_totalPage">
                <li class="disabled">
                    <a href="javascript:void(0);">下页</a>
                </li>
            </template>
            <li v-if="finished_totalPage > 1">
                <a href="javascript:void(0);"
                   page="#[finished_totalPage]"
                   v-on:click="page_finished">末页</a>
            </li>
            <template v-if="finished_totalPage == 1">
                <li class="disabled">
                    <a href="javascript:void(0);">末页</a>
                </li>
            </template>
        </ul>
        <div class="form-group" style="line-height: 29px;">
            &nbsp;&nbsp;&nbsp;共 #[finished_count] 条数据, 每页 #[finished_perPage] 条, 第 #[finished_currentPage]/#[finished_totalPage] 页
        </div>
        </div>
        <br/>
    </div>
</div>
{% endblock %}

{% block common_list_pagination %}
{% endblock %}