
ul {
    list-style: none;
    margin:0;
    padding:0;
}
#oauth_pin {
	margin: 0 auto;
    max-width: 640px;
    min-width: 240px;
    width: auto;
	font-family: sans-serif;

}
#oauth_pin p {
    -moz-user-select: none;
    background-color: rgba(200, 200, 200, 0.2);
    border-radius: 5px 5px 5px 5px;
    cursor: default;
    margin: 10px 0;
    padding: 15px;
}
#oauth_pin .code {
	margin: 20px 0;
    font-size: 40px;
    text-align: center;
	display:block;
}

.container h2.left{
    float:left;
}

.container .btn-right{
    float:right;
    margin-top:16px;
    margin-right:10px;
}

.container .btn-left {
    float:left;
    margin-right: 10px;
}

.container .btn-right-clean{
    float:right;
    margin-left: 10px;
}

.well .btn-middle{
    text-align: center;
    margin-top: 30px;
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
        background:none!important;
        color:none!important;
}

.well h3 {
    margin:0 0 10px 0;
}

.timepicker.am_pm {
    width:107px;
}

.news-description{
    width:500px;
    height:88px;
}

.news img{
    height:100px;
    max-height: 100px;
    max-width: 100px;
}

form label span{
    color: red;
}
.help-inline {
}
.alert.active {
    padding: 0 16px 5px;
    width: 75px;
}

.alert.active2 {
    margin-top: 24px;
    padding: 0 16px 5px;
    float:left;
    margin-right: 10px;
}
.food.well {
    min-height: 350px;
}

.meal.well {
    width:230px;
}

a.well {
    color:#000000;
}

a.well:hover {
    color:#000000;
    text-transform: none;
    text-decoration: none;
    border-color:#AAAAAA;
}
.fileField .clear {
    float:right;
}
.well3 .well{
}
.dropdown-toggle i {
    margin-top: 3px;
}

form .well {
    min-height: 40px;
}
.well.middle {
    margin:auto;
}

input[type="radio"] {
    line-height: normal;
    margin: 4px 4px 8px;
}

.ui-sortable-helper{
    border:2px dashed #CCC;
}
/* Calender for iPad */
.ui-widget-content {
    border-color: #DDDDDD;
}

/* remove default */
.swipe {
  padding-bottom:20px;
  position:relative;
  z-index:1;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
.swipe li div, .swipe div div div {
  margin:0 10px;
  padding:50px 10px;
  background:#1db1ff;
  font-weight:bold;
  color:#fff;
  font-size:20px;
  text-align:center;
}

nav {
    width:100%;
    text-align: center;
}

nav #position em {
    color:#DDDDDD;
}

nav #position em.on {
    color:#000000;
}

.food ol {
    margin-top: 10px;
    min-height: 60px;
}
.span3.margin-right{
    margin-right: 40px;
}
.img-wrapper{
    /*min-height: 200px;*/
}
.img-wrapper img{
    width: 100%;
}

/* Admin */
.aligned .vCheckboxLabel {
    display: inline-block;
    float: none !important;
    margin-top: 13px;
    padding-left: 10px;
    position: relative;
    top: 5px;
}

#changelist-search label {
    display:inline;
}
.results {
   width:86%;
}
#changelist-form{
    background-color: #EFEFEF;
}
#changelist-filter{
    height:100%;
}
div.brand{
    background: url("../img/logo_login.png") no-repeat scroll 0 0 transparent;
    padding-top: 80px;
    box-shadow: 0 5px 10px #DDDDDD;
}
div.brand input{
    width:96%;
}
div.brand input.btn{
    width:auto;
}
/* begin: jQuery UI Datepicker moving pixels fix */
    table.ui-datepicker-calendar {border-collapse: separate;}
    .ui-datepicker-calendar td {border: 1px solid transparent;}
/* end: jQuery UI Datepicker moving pixels fix */

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
    cursor: not-allowed!important;
}

/* VOD */

.library{
    clear:both;
}
.library .vod {
    border: 1px solid #CCCCCC;
    float: left;
    margin: 10px 13px 15px 0;
    position: relative;
    text-align: center;
    width: 180px;
}
.library .vod .poster{

}
.library .vod .poster img{
    display: block;
    height: 255px;
    width: 180px;
    background: url("../img/videodefault.png") no-repeat scroll 0 0 transparent;
}
.library .title_wrapper{
    background-color: #EFEDED;
    color: #FFFFFF;
    overflow: hidden;
    padding: 10px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: 160px;
}
.library .vod .title-overflow{
    background: url("") repeat-y scroll 100% 0 transparent;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
}
.library .vod .title {
    color: #000000;
    display: block;
}
.library .vod .options{
    height: 0;
    position: relative;
    top: -120px;
}
.library .vod #thumb-error{
    color: #fff;
    display: block;
    height: 0px;
    margin: 0 20px;
    position: relative;
    top: -220px;
}
hr.clear, div.clear{
    clear:both;
}

.progressBar{
    display: inline-block;
    height: 20px;
    position: relative;
    top: 2px;
    width: 200px;
    left:10px;
    font-weight: bold;
}
form.upload{
    white-space: nowrap;
}
.users {
    min-height: 200px;
}
.users li{
    display: block;
    float: left;
    height: 140px;
    margin-right: 20px;
    text-align: center;
    width: 140px;
}

.users li img{
    border: 1px solid;
    display: block;
    height: 100%;
    width: 100%;
}
.users li div{
    margin:10px 0;
}
/* END VOD */

/* Photo */
.album{
    width: 170px;
}

.photo{
    margin-right: 20px;
    width:200px;
}

/* recurrence addon */

div.recurrence-widget .interval,div.recurrence-widget .limit {
    display: none!important;
}
div.recurrence-widget .until-count .count {
    display: none!important;
}
div.recurrence-widget .mode {
    display: none!important;
}
div.recurrence-widget .monthly .weekday .recurrence-label,
div.recurrence-widget .monthly .weekday .radio,
div.recurrence-widget .monthly .weekday .section,
div.recurrence-widget .yearly .byday,
div.recurrence-widget .yearly .section
{
    display: none!important;
}
div.recurrence-widget form {
    margin: 0!important;
}
.fileinput-button{
    float:none!important;
    margin-right: 0!important;
}

.textarea-large-not-required{
    width: 229px;
}
.textarea-large{
    width: 231px;
}

.input-large-not-required{
    padding-right: 25px !important;
}

.ajax-upload-preview-area {
    padding: 0 0 20px;
    text-align: center;
}
.fileField .btn{
    margin-right: 20px;
}
.control-group-centered {
    text-align: center;
}
.ajax-file-upload .btn-file {
    margin: 0 10px;
}

.icon-success{
    color:#87BB33;
}
.icon-warning{
    color:#FB9800;
}
.icon-danger{
    color:#DC5D3A;
}
.sorted{
    border-left: 2px dotted #CCCCCC;
}
.thumbnail .item{
    text-align: center;
    overflow:none;
}
.thumbnail .item .avatar{
    border-radius: 60px;
    width: 110px;
    border: 5px solid #DDDDDD;
}
.user-edit .avatar{
    padding: 10px;
    border-radius: 200px 200px 200px 200px;
}
table img.avatar {
    border-radius: 20px 20px 20px 20px;
    width: 30px;
}
address {
    margin-bottom: 0px!important;
}
.table td{
    /*line-height: 30px!important; careful: this makes checkboxes in tables badly align with their overlay and fiddly to click*/
}
.news-list .table img{
    width:100px;
}
input[type="text"].heavy{
    font-size: 16px!important;
    font-weight: bold!important;
    padding: 8px!important;
}
.form-horizontal .control-group{
    margin-bottom:10px!important;
}
.user-edit .form-actions{
    padding-left: 0px!important;
}
.navbar .brand{
    margin: 0 0 0 -20px!important;
}
#header.navbar-inverse .btn-navbar {
    background-image: url("../img/bg-default.jpg");
    margin-right: 5px;
    margin-top: 12px;
    border:0;
}
.navbar-inner  i.icon-chevron-down:before {
    content: "\f077"!important;
}

.navbar-inner .collapsed i.icon-chevron-down:before {
    content: "\f078"!important;
}

.navbar-inner .username{
    padding-top:4px;
    display:inline-block;
}

.table .action{
    white-space: nowrap;
}
.meals-index h3{
    margin-top:0;
}
.meals-edit .ui-datepicker td a{
    padding:10px;
}
.meals-edit .ui-datepicker{
    width: 280px;
}
.meals-edit .ui-datepicker td  .ui-state-active {
    background: none!important;
    border: none!important;
}

.meals-list img{
    max-width: 200px !important;
}

/* fix dataTable header for mobile/tablet */
.dataTables_wrapper .span6{
    float:left;
    display:inline;
    width:48.6%;
}
.dataTables_length .input-mini{
    margin:3px;
}
/* Fix ldap authentication group mapping control */
.ldap_group_input {
    padding: 15px 8px;
}
.dataTables_wrapper select{
	width: 60px;
}

li[data-status=Recording] i.icon-circle, table.dataTable td i.icon-circle{
    color: #CA1414;
}
.ui_tpicker_timezone select {
  width: 110px;
}

select.shared-with{
    width: 100%;
}

div.chosen-container, ul.chosen-choices{
    border-color: #ccc !important;
}

div.chosen-container input{
    color: #999 !important;
    width: 100% !important;
}

div.chosen-container input.default{
    width: 100% !important;
}

ul.tags{
    /* Overwritting plugin styles to match our own input styles */
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -khtml-border-radius: 0px !important;
    border-bottom-radius: 0px !important;
    border-color: #ccc !important;
}

table.sort tbody{
    cursor: move;
}

.widget-body ul.list{
    margin: 0 0 10px 25px;
    padding: 0;
    list-style: square outside none;
}

.dd-list {
    padding: 5px 0 0!important;
}

.thumb-remove {
    border-left: 1px solid #ccc;
    color: #dc5d3a;
    padding-left: 7px;
    margin-left: 7px;
}

#page-hint {
    position: fixed;
    width: 20px;
    overflow: hidden;
    top:120px;
    right: 0px;
    padding: 10px;
    background-color: #25c3cf;
    z-index: 100;
    color: #737373;
    -webkit-border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;
}
#page-hint .content {
    margin:10px 15px;
}
#page-hint .content ul {
    list-style: disc outside none;
}
#page-hint .content ul li{
    line-height: 24px;
}

#page-hint i.icon-question-sign,
#page-hint i.icon-remove{
    font-size: 22px;
    cursor: pointer;
    display: inline-block;
    margin-right: 2px;
    margin-top: 2px;
    color:#FFFFFF;
}

#page-hint i:hover {
    color: #000;
}

#page-hint label {
    display: inline-block !important;
}

#page-hint .text {
    margin-right: 2px;
    font-weight: bold;
    font-size: 14px;
}

#page-hint .content {
    display: none;
}


#page-hint .layout {
    width: 100px;
    margin-top: 7px;
    margin-left: 63px;
    margin-bottom: 5px;
    display: block;
}

.controls  .remove{
    padding:0px 8px;
}

ul#id_apps {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}

ul#id_apps input[type="checkbox"]{
    margin: 0px !important
}

.events-index .dataTable td:last-child > a {
    float: none;
    margin-left: 0;
    margin-right: 5px;
}

.device_group_select{
    display: inline;
    margin-right: 20px;
}

.device_group_select select{
    height: 26px;
    line-height: 26px;
    margin:0;
}

#schedule #emergency_alert_text{
    width:70%;
    height: 100px;
}

#sidebar > ul > li > a .module_name{
    padding-top: 20px;
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;
}