input[type='checkbox'] {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

@media (max-width: 767px) {
    #commonDataTableRow .table-responsive > .table > thead > tr > th,
    #commonDataTableRow .table-responsive > .table > tbody > tr > th,
    #commonDataTableRow .table-responsive > .table > tfoot > tr > th,
    #commonDataTableRow .table-responsive > .table > thead > tr > td,
    #commonDataTableRow .table-responsive > .table > tbody > tr > td,
    #commonDataTableRow .table-responsive > .table > tfoot > tr > td {
        white-space: normal !important;
    }

    #commonDataTableRow .col-xs-12, .col-sm-12 {
        padding-right: 0;
        padding-left: 0;
    }

    #commonDataTableRow .content-header {
        padding: 15px 0 0;
    }
}

@media (min-width: 768px) {
    #commonDataTableRow #tableSearch{
        width: 150px;
    }
}