{% load static %}
<aside class="control-sidebar control-sidebar-light messagesetVue">
    <div class="menu">
        <template v-for="item in notification">
            <div v-on:click="mark_readed">
                <h4 data-pk="#[item.id]">
                    <small data-pk="#[item.id]">
                        <template v-if="item.status == '未读'">
                            <i class="fa fa-envelope-o"></i>
                        </template>
                        #[item.send_time]
                    </small>
                </h4>
                <span data-pk="#[item.id]">#[item.title]</span>
            </div>
        </template>
    </div>
</aside>

<div class="control-sidebar-bg">

</div>