{% load static %}

<aside class="control-sidebar control-sidebar-light messagesetVue">
    <div class="menu">
        <ul class="list-unstyled mail-list" v-for="item in notification" style="border-bottom:1px solid #ddd">
            <li v-on:click="mark_readed">
                <h4 data-pk="#[item.id]">
                    <small data-pk="#[item.id]">
                        <template v-if="item.status == '未读'">
                            <i class="fa fa-envelope read-status"></i>
                        </template>
                        <template v-if="item.status == '已读'">
                            <i class="fa fa-envelope-open-o read-status"></i>
                        </template>
                        #[item.send_time]
                    </small>
                </h4>
                <p data-pk="#[item.id]">{!! item.content !!}</p>
            </li>
        </ul>
    </div>
</aside>

<div class="control-sidebar-bg">

</div>