# Copy this into local.py

CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.filebased.FileBasedCache',
        'LOCATION': '/tmp/django_cache',
    }
}

EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'
