{% load static wagtailuserbar %}
<header class="site-header">
    <div class="wrapper">
        <div class="site-header__inner">
            <div class="site-header__top">
                <a href="/" class="site-header__logo">
                    <img src="https://www.google.com.au/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" alt="Selfmade logo">
                </a>

                <div class="site-header__burger" role="button">
                    <div class="burger-icon">
                        <span>1</span>
                        <span>2</span>
                        <span>3</span>
                        <span>4</span>
                    </div>
                </div>
            </div>

            <nav class="site-header__main-nav main-nav">
                <ul class="main-nav__list">
                    <li class="main-nav__item active">
                        <a href="#" role="menuitem" class="main-nav__link">menuitem.title</a>
                    </li>
                    {% for menuitem in menuitems %}
                        <li class="main-nav__item {% if menuitem.active %}active{% endif %}">
                            <a href="#" role="menuitem" class="main-nav__link">{{ menuitem.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</header>
