{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>{% block base_head_title %}{{ page_title }}{% endblock %} |
        {% block base_head_title_system_name %}{{ page_system_name }}{% endblock %}
    </title>
    <link rel="shortcut icon" href="{{ STATIC_PREFIX }}images/favicon.ico">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    {% block blockrobots %}
    {% endblock %}

    {% include "adminlte/includes/style.html" %}
    {% include "adminlte/includes/header_script.html" %}

    {% block header_base_style %}{% endblock %}
    {% block header_base_script %}{{ form.media }}{% endblock %}
    {% block header_page_script %}{% endblock %}

    <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
{% block base_body %}
    <body class="{% block base_body_class %}skin-blue sidebar-mini{% endblock %}">
    <input type="hidden" name="adminlte_page_app_name" id="adminlte_page_app_name" value="{{ page_app_name }}"/>
    <input type="hidden" name="adminlte_page_model_name" id="adminlte_page_model_name" value="{{ page_model_name }}"/>
    <input type="hidden" name="adminlte_page_user_name" id="adminlte_page_user_name" value="{{ request.user.username }}"/>

    {% block base_body_inner %}
        <div class="wrapper">

            {% block header %}
            {% include "adminlte/includes/header.html" %}
            {% endblock %}

            {% block menu %}
            {% include "adminlte/includes/menu.html" %}
            {% endblock %}

            <div class="content-wrapper">
                {% block base_content_wrapper_inner %}
                    <section class="content-header">
                        {% block base_content_header %}
                            <h1 class="hidden-sm hidden-xs">
                                {% block content_title %}
                                    {{ default_dashboard_title }}
                                {% endblock %}
                                <small>
                                    {% block base_content_header_small_title %}
                                    {% endblock %}
                                </small>
                            </h1>

                            {% block breadcrumb %}
                                <ol class="breadcrumb">
                                    <li>
                                        <a href="/member/home">
                                            <i class="fa fa-dashboard"></i> {{ default_dashboard_title }}
                                        </a>
                                    </li>
                                    {% if page_title != default_dashboard_title %}
                                    <li class="active">
                                        {% if page_app_name and page_model_name %}
                                          {% with page_app_name|add:":"|add:page_model_name|add:"-list" as list_url %}
                                            <a href="{% url list_url %}">
                                                {{ page_model_verbose_name }}
                                            </a>
                                          {% endwith %}
                                        {% else %}
                                            {{ page_title }}
                                        {% endif %}
                                        </li>
                                    {% endif %}
                                    {% if object != None %}
                                        <li class="active">{{ page_title }}详情</li>
                                    {% endif %}
                                </ol>
                            {% endblock %}
                        {% endblock %}
                    </section>
                    <section class="content">
                        {% block content %}
                            {{ content }}
                        {% endblock %}
                    </section>
                {% endblock %}
            </div>
            {% include "adminlte/includes/footer.html" %}
            {% if user.is_superuser %}
                {% include "adminlte/includes/control_sidebar.html" %}
            {% endif %}
        </div>
    {% endblock %}

    {% include "adminlte/includes/footer_script.html" %}
    {% block footer_base_script %}{% endblock %}
    {% block footer_page_script %}{% endblock %}
    </body>
{% endblock %}
</html>
