{% extends "adminlte/base.html" %}
{% load static adminlte_tags %}
{% block content_title %}
  {{ page_title }}
{% endblock %}

{% block content %}
  <div class="row" id="commonDataTableRow">
    <div class="col-xs-12 full-width">
      <div class="box box-info">

        {% block content_header %}
        <div class="box-header with-border">
          {% block common_list_buttons %}
            <div class="col-xs-5 col-sm-6">
                {% if page_model_perms.add %}
                  <a class="btn btn-primary" id="create">
                    <i class="fa fa-plus"></i>新增
                  </a>
                {% endif %}
                {% if page_model_perms.delete %}
                  <a class="btn btn-danger hidden-sm hidden-xs" v-on:click="removeSelected">
                    <i class="fa fa-trash-o"></i>
                    删除
                  </a>
                {% endif %}
            </div>
            {% endblock %}

            {% block search_box %}
            <div class="col-xs-7 col-sm-6 pull-right">
              <div class="input-group">
                <input type="text" name="search" id="tableSearch" placeholder="关键字" v-on:keypress.13="search"
                       class="form-control input-sm pull-right">

                <div class="input-group-btn">
                  <button class="btn btn-sm btn-default" v-on:click="resetSearch">
                    <i class="fa fa-times-circle"></i>
                  </button>
                  <button class="btn btn-sm btn-default" v-on:click="search">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
            {% endblock %}
        </div>

        {% include "adminlte/includes/messages.html" %}

        <!-- /.box-header -->
        {% endblock %}

        {% block tab_content %}
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover" id="commonTable">
              <thead>
              <tr>
                {% block table_head %}
                  <th class="text-center hidden-sm hidden-xs" style="width:60px;">
                    <input type="checkbox" name="checkboxAllRow" class="checkboxAllRow" v-on:click="toggleAllBox"/>
                  </th>
                  {% for title in table_titles %}
                    {% with 'ID,id,'|split:',' as tlist %}
                      {% if title in tlist %}
                        <th class="hidden-sm hidden-xs">{{ title }}</th>
                      {% else %}
                        <th>{{ title }}</th>
                      {% endif %}
                    {% endwith %}
                  {% endfor %}
                {% endblock %}
              </tr>
              </thead>
              {% block table_row %}
                <tbody v-for="item in items">
                <tr>
                  <td class="text-center hidden-sm hidden-x">
                    ##[$index+1]
                    <input type="checkbox" class="minimal" name="checkboxRow" value="#[item.id]"/>
                  </td>
                  {% for field in table_fields %}
                    {% if field == 'id' %}
                      {% block item_buttons %}
                        <td class="text-right hidden-sm hidden-xs">
                          <template v-if="detail_url_tag">
                          {% if page_model_perms.view %}
                            <a data-toggle="tooltip" data-placement="bottom" data-original-title="View"
                               href="#[item.detail_url]" class="btn btn-info btn-sm detail-btn" data-pk="#[item.id]">
                              <i class="fa fa-lg fa-bars fa-inverse"></i>
                            </a>
                          {% endif %}
                          </template>

                          <template v-if="update_url_tag">
                          {% if page_model_perms.change %}
                            <a data-toggle="tooltip" data-placement="bottom" data-original-title="Edit"
                               href="#[item.edit_url]" class="btn btn-warning btn-sm edit-btn" data-pk="#[item.id]">
                              <i class="fa fa-lg fa-pencil fa-inverse"></i>
                            </a>
                          {% endif %}
                          </template>

                          <template v-if="delete_api_tag">
                          {% if page_model_perms.delete %}
                            <a data-toggle="tooltip" data-placement="bottom" data-original-title="Delete"
                               data-pk="#[item.id]" v-on:click="removeOne" href="javascript:void(0);"
                               class="btn btn-danger btn-sm delete-btn">
                              <i class="fa fa-lg fa-trash-o fa-inverse"></i>
                            </a>
                          {% endif %}
                          </template>
                        </td>
                      {% endblock %}
                    {% else %}
                      <td>
                        {!! item.{{ field }} !!}
                      </td>
                    {% endif %}
                  {% endfor %}
                </tr>
                </tbody>
              {% endblock %}
            </table>
          </div>
        {% endblock %}

        {% block common_list_pagination %}
          <div class="box-footer clearfix">
            {% include 'adminlte/common_list_pagination.html' %}
          </div>
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}

{% block footer_page_script %}
  <script type="text/javascript" src="{% static 'adminlte/js/common-list-page-base.js' %}"></script>
  {% block common_list_footer_page_script %}
    <script type="text/javascript" src="{% static 'adminlte/js/common-list-page.js' %}"></script>
  {% endblock %}
{% endblock %}
