{% extends "adminlte/base.html" %}
{% load staticfiles %}

{% block content_title %}
    {% if object %}
        修改
    {% else %}
        新增
    {% endif %}{{ page_title }}
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li>
            <a href="/member/home">
                <i class="fa fa-dashboard"></i> {{ default_dashboard_title }}
            </a>
        </li>
        {% if page_title != default_dashboard_title %}
        <li class="active">
            {% block app_index %}
            {% if page_app_name and page_model_name %}
                <a href="{% url page_app_name|add:':'|add:page_model_name|add:'-list' %}">
                    {{ page_app_name }}
                </a>
            {% endif %}
            {% endblock %}
        </li>
        {% endif %}
        {% if object != None %}
            <li class="active">{{ page_title }}</li>
        {% endif %}
    </ol>
{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-xs-12 full-width">
    <div class="box box-info">
        <form method="post" action="" enctype="multipart/form-data" class="form-horizontal" role="form" id="commonForm">
        {% csrf_token %}

        <div class="box-header with-border">
          <h3 class="box-title">{{ object }}</h3>
        </div>

        <div class="box-body">
            {% include "adminlte/includes/messages.html" %}

            {% block form_content %}
            {% for field in form %}
                <div class="form-group {% if field.errors %}error{% endif %} {% if field.is_hidden %}hide{% endif %}">
                    <label for="id_{{ field.name }}" class="col-sm-2 col-xs-3 control-label">{{ field.label }}</label>
                    <div class="col-sm-6 col-xs-9">
                        {{ field }}
                    </div>
                    {% if field.errors %}
                    <div class="col-sm-4 col-xs-12">
                        {{ field.errors }}
                        <span class="help-block">{{ field.help_text }}</span>
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
            {% endblock %}
        </div>
        <div class="box-footer">
        {% block form_footer %}
          <button type="submit" style="width:108px" class="btn btn-primary col-sm-offset-2">保 存</button>
          <button type="submit" style="width:108px" class="btn btn-primary" name="_continue">保存 & 编辑</button>
{#          {% if object.id %}#}
{#          <button type="button" style="width:108px" class="btn btn-danger"#}
{#                  v-on:click="delete({{ object.id }}, $event)">删 除#}
{#          </button>#}
{#          {% endif %}#}
        {% endblock %}
        </div>
    </form>
    </div>
    </div>
    </div>
{% endblock %}

{% block footer_base_script %}
    <script type="text/javascript" src="{% static 'adminlte/js/common-form.js' %}"></script>

    <script type="text/javascript">
        $('#commonForm input').addClass('form-control');
        $('#commonForm select').addClass('form-control');
        $('#commonForm textarea').addClass('form-control');
        $("select[class$='form-control'][readonly=true]").prop('disabled', true);

        jQuery(document).ready(function($) {
            $("select[class$='form-control']").not(".hide select[class$='form-control']").chosen({
                search_contains: true,
                disable_search_threshold: 10
            });
        });
    </script>
{% endblock %}
