{% extends "adminlte/base.html" %}
{% load adminlte_tags %}

{% block content_title %}
    <b>{{ object }} 详情</b>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-info">
                <div class="box-body table-responsive no-padding">
                    <table class="table">
                    {% for field in object.Config.list_form_fields %}
                        {% ifnotequal field 'id' %}
                            <tr>
                                <th>{{ object|render_field_label:field }}:</th>
                                <td>{{ object|render_field_value:field|safe }}</td>
                            </tr>
                        {% endifnotequal %}
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}