{% extends "adminlte/base.html" %}
{% load static %}
{% block content_title %}
    {{ page_title }}
{% endblock %}

{% block content %}
    <div class="row" id="commonDataTableRow">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            {% block common_list_buttons %}
                                {% if page_model_perms.add %}
                                <button class="btn btn-primary"
                                        v-on:click="create">
                                    <i class="fa fa-plus"></i>
                                    新增
                                </button>
                                {% endif %}
                                {% if page_model_perms.delete %}
                                <button class="btn btn-danger"
                                        v-on:click="removeSelected">
                                    <i class="fa fa-trash-o"></i>
                                    删除
                                </button>
                                {% endif %}
                            {% endblock %}
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="input-group">
                                <input type="text" name="search"
                                       id="tableSearch"
                                       class="form-control input-sm pull-right"
                                       style="width: 150px;"
                                       placeholder="关键字"
                                       v-on:keypress.13="search">

                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-default"
                                            v-on:click="resetSearch">
                                        <i class="fa fa-times-circle"></i>
                                    </button>
                                    <button class="btn btn-sm btn-default"
                                            v-on:click="search">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% block tab_content %}
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover" id="commonTable">
                        <thead>
                            <tr>
                                <th class="text-center" style="width:60px;">
                                    <input type="checkbox"
                                           name="checkboxAllRow"
                                           v-on:click="toggleAllBox"/>
                                </th>
                                {% for title in table_titles %}
                                    {% if title == 'ID' %}
                                        <th></th>
                                    {% else %}
                                        <th>
                                            {{ title }}
                                        </th>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                            </tr>
                        </tfoot>
                        <tbody v-for="item in items">
                            <tr>
                                <td class="text-center">
                                    ##[$index+1]
                                    <input type="checkbox" class="minimal"
                                           name="checkboxRow"
                                           value="#[item.id]"/>
                                </td>
                                {% for field in table_fields %}
                                    {% if field == 'id' %}
                                        {% block item_buttons %}
                                        <td class="text-right">
                                            {% if page_model_perms.view %}
                                            <a data-toggle="tooltip" data-placement="bottom" data-original-title="View" href="javascript:void(0);"
                                               class="btn btn-info btn-sm"  data-pk="#[item.id]" v-on:click="detail">
                                               <i class="fa fa-bars fa-inverse"></i>
                                            </a>
                                            {% endif %}
                                            {% if page_model_perms.change %}
                                            <a data-toggle="tooltip" data-placement="bottom" data-original-title="Edit" href="javascript:void(0);"
                                               class="btn btn-warning btn-sm" data-pk="#[item.id]" v-on:click="update">
                                                <i class="fa fa-pencil fa-inverse"></i>
                                            </a>
                                            {% endif %}
                                            {% if page_model_perms.delete %}
                                            <a data-toggle="tooltip" data-placement="bottom" data-original-title="Delete" href="javascript:void(0);"
                                               class="btn btn-danger btn-sm" data-pk="#[item.id]" v-on:click="removeOne">
                                                <i class="fa fa-trash-o fa-inverse"></i>
                                            </a>
                                            {% endif %}
                                        </td>
                                        {% endblock %}
                                    {% else %}
                                        <td>
                                            {!! item.{{ field }} !!}
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
                {% endblock %}

                {% block common_list_pagination %}
                    <div class="box-footer clearfix">
                        {% include 'adminlte/common_list_pagination.html' %}
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_page_script %}
    <script type="text/javascript" src="{% static 'adminlte/js/common-list-page-base.js' %}"></script>
    {% block common_list_footer_page_script %}
        <script type="text/javascript" src="{% static 'adminlte/js/common-list-page.js' %}"></script>
    {% endblock %}
{% endblock %}