{% extends "adminlte/base.html" %}
{% load adminlte_tags %}

{% block content_title %}
    <b>{{ object }} 详情</b>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 full-width">
            <div class="box box-info">
                <div class="box-body table-responsive no-padding">
                    <table class="table">
                    {% block table_content %}
                    {% for field in form.fields %}
                        {% ifnotequal field 'id' %}
                            <tr>
                                <th>{{ object|render_field_label:field }}</th>
                                <td>{{ object|render_field_value:field|safe }}</td>
                            </tr>
                        {% endifnotequal %}
                    {% endfor %}
                    {% endblock %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% block page_footer %}
    {% endblock %}
{% endblock %}