{% extends "adminlte/base.html" %}
{% load static %}

{% block base_head_title %}重设密码{% endblock %}
{% block base_head_title_system_name %}OZSALES{% endblock %}

{% block base_body %}
<body class="hold-transition login-page">
  <div class="login-box">
  <div class="login-logo">
    <a href="#"><b>OZ</b> Sales</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">重设密码</p>

    {% if messages %}
      <div class="row">
          <div class="col-xs-12">
            {% for message in messages %}
              <span class="alert-{{ message.tags }}">{{ message }}</span>
              <br/><br/>
            {% endfor %}
          </div>
      </div>
    {% endif %}

    <div class="widget-body">
        <p>验证邮件已发送，请登陆电子邮箱查看.</p>
        <p>重设密码后，请<a href="{% url 'member:member-login' %}">继续登陆</a>.</p>
    </div>
  </div>
  <!-- /.login-box-body -->
  </div>
  <!-- /.login-box -->

</body>
{% endblock %}
