{% extends "adminlte/base.html" %}
{% load static %}

{% block base_head_title %}重设密码{% endblock %}
{% block base_head_title_system_name %}OZSALES{% endblock %}

{% block header_base_style %}
{% endblock %}


{% block base_body %}
    <body class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <a href="#"><b>OZ</b> Sales</a>
        </div>

        <div class="register-box-body">
            <p class="login-box-msg">重设密码</p>
            <form action="" method="post">
                {% if validlink %}
                {% csrf_token %}
                <div class="form-group has-feedback{% if form.new_password1.errors %} has-error{% endif %}">
                    <input id="id_new_password1" name="new_password1" type="password" class="form-control"
                    placeholder="{{ form.new_password1.errors.as_text|default:"密 码" }}">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback{% if form.new_password2.errors %} has-error{% endif %}">
                    <input  id="id_new_password2" name="new_password2" type="password" class="form-control"
                            placeholder="{{ form.new_password2.errors.as_text|default:"重复密码" }}">
                    <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                </div>

                <div class="row">
                    <!-- /.col -->
                    <div class="col-xs-4 col-xs-offset-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">提 交</button>
                    </div>
                    <!-- /.col -->
                </div>
                {% else %}
                    <p>本链接已失效，请<a href="{% url 'member:member-login' %}">重新登陆</a>.</p>
                {% endif %}
            </form>
        </div>
        <!-- /.form-box -->
    </div>
    <!-- /.register-box -->
    </body>
{% endblock %}

{% block footer_page_script %}{% endblock %}
