{% extends "adminlte/base.html" %}
{% load static %}

{% block base_head_title %}Login{% endblock %}
{% block base_head_title_system_name %}OZSALES{% endblock %}

{% block base_body %}
    <body class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <a href="#"><b>OZ</b> Sales</a>
        </div>

        <div class="register-box-body">
            <p class="login-box-msg">注册新会员</p>
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group has-feedback{% if form.mobile.errors %} has-error{% endif %}">
                    <input id="id_mobile" name="mobile" type="text" class="form-control"
                    placeholder="{{ form.mobile.errors.as_text|default:"澳洲或国内手机号码" }}"{% if form.mobile.value and not form.mobile.errors %} value="{{ form.mobile.value }}"{% endif %} {% if not form.mobile.value or form.mobile.errors %} autofocus{% endif %}>
                    <span class="glyphicon glyphicon-phone form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback{% if form.email.errors %} has-error{% endif %}">
                    <input id="id_email" name="email" type="email" class="form-control"
                    placeholder="{{ form.email.errors.as_text|default:"电子邮件" }}"{% if form.email.value and not form.email.errors %} value="{{ form.email.value }}"{% endif %} {% if not form.email.value or form.email.errors %} autofocus{% endif %}>
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback{% if form.password.errors %} has-error{% endif %}">
                    <input id="id_password" name="password" type="password" class="form-control"
                    placeholder="{{ form.password.errors.as_text|default:"密 码" }}">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback{% if form.password_confirm.errors %} has-error{% endif %}">
                    <input  id="id_password_confirm" name="password_confirm" type="password" class="form-control"
                            placeholder="{{ form.password_confirm.errors.as_text|default:"重复密码" }}">
                    <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                </div>

                {% if form.non_field_errors %}
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <span class="alert-error">{{ form.non_field_errors.as_text }}</span>
                        </div>
                    </div>
                {% endif %}

                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck hide">
                            <label>
                                <input type="checkbox" checked> I agree to the <a href="#">terms</a>
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">注 册</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <div class="social-auth-links">
                <p class="text-center">- OR -</p>
                <a class="btn-block" href="{% url 'member:member-login' %}">已有账号?</a>
            </div>
        </div>
        <!-- /.form-box -->
    </div>
    <!-- /.register-box -->

    <!-- iCheck -->
    <script src="{% static 'plugins/iCheck/icheck.min.js' %}"></script>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });
    </script>
    </body>
{% endblock %}

{% block footer_page_script %}{% endblock %}
