{% load activelink %}
<li class="treeview {% ifstartswith '/store/' %}active{% endifstartswith %}">
    <a href="javascript:void(0)">
        <i class='fa fa-cloud'></i>
        <b>Store</b>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        {% if perms.store.add_page or perms.store.change_page %}
        <li>

        <a href="{% url 'store:page-list' %}">
                <i class="fa fa-circle-o"></i>
                Page
            </a>
        </li>
        {%endif%}
        {% if perms.store.add_store or perms.store.change_store %}
        <li>

        <a href="{% url 'store:store-list' %}">
                <i class="fa fa-circle-o"></i>
                Store
            </a>
        </li>
        {%endif%}

    </ul>
</li>
