{% load activelink %}
<li class="treeview active {% ifstartswith '/store/' %}active{% endifstartswith %}">
  <a href="javascript:void(0)">
    <i class='fa fa-cloud'></i>
    <b>Store</b>
    <i class="fa fa-angle-left pull-right"></i>
  </a>
  <ul class="treeview-menu menu-open" style="display: block;">

    {% if perms.store.view_store %}
    <li>
      <a href="{% url 'store:store-list' %}">
        <i class="fa fa-circle-o"></i>
        Store
      </a>
      {% if perms.store.add_store %}
      <a href="{% url 'store:store-add' %}" class="pull-right">
         <i class="fa fa-plus" aria-hidden="true"></i>
      </a>
      {%endif%}
    </li>
    {%endif%}

  </ul>
</li>
