{% extends "adminlte/common_list.html" %}
{% load static %}

{% block table_head %}
  <th class="text-center hidden-sm hidden-xs" style="width:60px;">
    <input type="checkbox" name="checkboxAllRow" class="checkboxAllRow" v-on:click="toggleAllBox"/>
  </th>
  <th>Name</th>
  <th>Short Name</th>
  <th class="hidden-sm hidden-xs">Address</th>
  <th>Domain</th>
  <th class="hidden-sm hidden-xs">Search URL</th>
  <th class="hidden-sm hidden-xs">Shipping Rate</th>

  <th class="hidden-sm hidden-xs"></th>
{% endblock %}

{% block table_row %}
  <tbody v-for="item in items">
  <tr>
    <td class="text-center hidden-sm hidden-xs">
      ##[$index+1]
      <input type="checkbox" class="minimal" name="checkboxRow" value="#[item.id]"/>
    </td>
    <td><a href="{!! item.edit_url !!}?from_page={!! currentPage !!}&search={!! search_keyword !!}">{!! item.name !!}</a></td>
    <td>{!! item.short_name !!}</td>
    <td class="hidden-sm hidden-xs">{!! item.address !!}</td>
    <td>{!! item.domain !!}</td>
    <td class="hidden-sm hidden-xs">{!! item.search_url !!}</td>
    <td class="hidden-sm hidden-xs">{!! item.shipping_rate !!}</td>

    {% block item_buttons %}
      {{ block.super }}
    {% endblock %}
  </tr>
  </tbody>
{% endblock %}

{% block common_list_footer_page_script %}
  <script type="text/javascript" src="{% static 'js/store/store_list.min.js' %}"></script>
{% endblock %}
