{% extends "adminlte/base.html" %}
{% load static %}

{% block base_head_title %}404 Errors{% endblock %}
{% block base_head_title_system_name %}OZSALES{% endblock %}

{% block base_body %}
<body class="hold-transition">
  <div id="container" class="row-fluid">
      <div class="container-fluid">
        <div class="row-fluid" >
           <div class="span12">
               <div class="space20"></div>
               <div class="space20"></div>
               <div class="widget-body">
                  <div class="error-page">
                    <h1>
                      <strong>404</strong> <br/>
                           Page Not Found
                    </h1>
                    <p>We're sorry, the page you were looking for doesn't exist anymore.</p>
                  </div>
                </div>
           </div>
        </div>
      </div>
    </div>
</body>
{% endblock %}
