<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
   <meta charset="utf-8" />
   <title>500 Internal Server Error</title>
   <meta content="width=device-width, initial-scale=1.0" name="viewport" />
   <meta content="" name="description" />
   <meta content="" name="author" />
   <link href="/static/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
   <link href="/static/assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
   <link href="/static/css/template-style.css" rel="stylesheet" />
   <link href="/static/css/style_responsive.css" rel="stylesheet" />
   <link href="/static/css/style_default.css" rel="stylesheet" id="style_color" />

   <link href="/static/assets/fancybox/source/jquery.fancybox.css" rel="stylesheet" />
   <link rel="stylesheet" type="text/css" href="/static/assets/uniform/css/uniform.default.css" />
</head>

<body id="login-body">
  <div class="login-header">
      <div class="center" id="logo">
        <img class="center" alt="logo" src="/static/img/logo.png">
      </div>
  </div>
    <div id="container" class="row-fluid">
      <div class="container-fluid">
        <div class="row-fluid" >
           <div class="span12">
               <div class="space20"></div>
               <div class="space20"></div>
               <div class="widget-body">
                  <div class="error-page">
                    <img alt="500 error" src="/static/img/500.png">
                    <h1>
                      <strong>500 Internal Server Error</strong> <br>
                      OOPS! Something went wrong.
                    </h1>
                  </div>
                </div>
           </div>
        </div>
      </div>
    </div>
    <div id="footer">
       2014 &copy; O7 Technologies Pty Ltd trading as Omniscreen
      <div class="span pull-right">
         <span class="go-top"><i class="fa fa-arrow-up"></i></span>
      </div>
    </div>
</body>
</html>
