<div id="PasswordRestModel" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="PasswordRestModel" aria-hidden="true">
    <form method="post" action="{% url 'member:user-password' pk=edit_user.pk %}" class="form-horizontal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel2">Change Password</h3>
        </div>
        <div class="modal-body">
            {% csrf_token %}
            {%if form.old_password %}
            {% include "form/input.html" with title="Old Password" errors=form.errors.old_password input=form.old_password %}
            {% endif %}
            {% include "form/input.html" with title="New Password" errors=form.errors.new_password1 input=form.new_password1 %}
            {% include "form/input.html" with title="Confirm Password" errors=form.errors.new_password2 input=form.new_password2 %}
            {% if form.email_user %}
           {% include "form/input.html" with title="Email User" errors=form.errors.email_user input=form.email_user %}
           {% endif %}
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" type="submit"><i class="fa fa-check"></i> Save</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </form>
</div>
