{% load activelink %}
<li class="treeview active {% ifstartswith '/product/' %}active{% endifstartswith %}">
  <a href="javascript:void(0)">
    <i class="fa fa-angle-left pull-right"></i>
    <i class='fa fa-shopping-bag'></i>
    <b>Product</b>
  </a>
  <ul class="treeview-menu menu-open" style="display: block;">

    {% if perms.product.view_product %}
      <li>
        {% if perms.product.add_product %}
          <a href="{% url 'product:product-add' %}" class="pull-right">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </a>
        {% endif %}
        <a href="{% url 'product:product-list' %}" class="main">
          <i class="fa fa-circle-o"></i>
          Product
        </a>
      </li>
    {% endif %}

    {% if perms.product.view_brand %}
      <li>
        <a href="{% url 'product:brand-list' %}" class="main">
          <i class="fa fa-circle-o"></i>
          Brand
        </a>
        {% if perms.product.add_brand %}
          <a href="{% url 'product:brand-add' %}" class="pull-right">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </a>
        {% endif %}
      </li>
    {% endif %}

  </ul>
</li>
