{% load staticfiles %}

<span class='hide' id='no_records'>There are currently no products available.</span>
<div id="server-error" class="alert alert-error hide">Server error, please try again later!</div>


<form action="." method="POST">
{% csrf_token %}
<table class="table table-striped table-list">
  <thead>
    <tr>
      <th><input type="checkbox" class="group-checkable" data-set=".checkboxes" /></th>
      <th>Pic</th>
      <th>Name</th>
      <th class="hidden-phone">Spec</th>
      <th>Sell Price</th>
      <th>Normal Cost</th>
      <th class="hidden-phone">Bargain Cost</th>
      <th>Links</th>
      <th class="hidden-phone"></th>
    </tr>
  </thead>
  <tbody>
  {% for product in products %}
      <tr class="odd gradeX">
        <td><input type="checkbox" name="product_ids" class="checkboxes" value="{{product.id}}" /></td>
        <td>
          {%if product.pic%}
            <img class="avatar" src="{{product.pic.url}}" />
          {%endif%}
        </td>
        <td>
            <a href="{% url 'product-edit' pk=product.pk%}" class="tooltips">
            {{product.name_cn}}
            </a>
        </td>
        <td class="hidden-phone">{{product.spec1|default:""}}{{product.spec2|default:""}}{{product.spec3|default:""}}</td>
        <td>{{product.safe_sell_price}}</td>
        <td>{{product.normal_price}}</td>
        <td class="hidden-phone">{{product.bargain_price}}</td>
        <td>
            {%if product.wx_url%}
              <a data-placement="bottom" data-original-title="Weixin URL" href="{{ product.wx_url }}" role="button" class="btn btn-warning btn-mini tooltips"><i class="fa fa-pencil fa-inverse"></i></a>
            {%endif%}
            {%if product.tb_url%}
              <a data-placement="bottom" data-original-title="Taobao URL" href="{{ product.tb_url }}" role="button" class="btn btn-warning btn-mini tooltips"><i class="fa fa-pencil fa-inverse"></i></a>
            {%endif%}
        </td>
        <td class="hidden-phone">
            <button type='button' data-placement="bottom" data-original-title="Delete Product" class="delete btn btn-danger btn-mini tooltips"><i class="fa fa-trash fa-inverse"></i></button>
            <a data-placement="bottom" data-original-title="Edit Product" href="{% url 'product-edit' pk=product.pk%}" role="button" class="btn btn-warning btn-mini tooltips"><i class="fa fa-pencil fa-inverse"></i></a>
        </td>
      </tr>
  {%endfor%}
  </tbody>
</table>
</form>