{% extends "adminlte/common_list.html" %}
{% load static %}

{% block table_head %}
  <th class="text-center hidden-sm hidden-xs" style="width:60px;">
    <input type="checkbox" name="checkboxAllRow" class="checkboxAllRow" v-on:click="toggleAllBox"/>
  </th>
  <th></th>
  <th>名称</th>
  <th class="hidden-sm hidden-xs">品牌</th>
  <th>售价</th>
  {% if user.is_authenticated %}
    <th>成本</th>
    <th class="hidden-sm hidden-xs">折扣</th>
    <th class="hidden-sm hidden-xs"></th>
  {% endif %}
{% endblock %}

{% block table_row %}
  <tbody v-for="item in items">
  <tr>
    <td class="text-center hidden-sm hidden-xs">
      ##[$index+1]
      <input type="checkbox" class="minimal" name="checkboxRow" value="#[item.id]"/>
    </td>
    <td>
      <a v-if="item.pic" href="{!! item.pic !!}" target="_blank"><img style="height:75px" src="{!! item.pic !!}"/></a>
      <img v-else style="height:75px" src="/static/img/no_image.jpg"/>
    </td>
    <td class="hidden-sm hidden-xs"><a href="{!! item.edit_url !!}">{!! item.name_cn !!}</a></td>
    <td class="hidden-sm hidden-xs">{!! item.brand_display !!}</td>
    <td class="visible-sm visible-xs"><a href="{!! item.edit_url !!}">{!! item.brand_display !!}{!! item.name_cn !!}</a>
    </td>
    <td>{!! item.safe_sell_price !!}</td>
    {% if user.is_authenticated %}
      <td>{!! item.normal_price !!}</td>
      <td class="hidden-sm hidden-xs">{!! item.bargain_price !!}</td>

      {% block item_buttons %}
        <td class="text-right hidden-sm hidden-xs">
          {% if page_model_perms.view %}
            <a data-toggle="tooltip" data-placement="bottom" data-original-title="View" href="#[item.detail_url]"
               class="btn btn-info btn-sm">
              <i class="fa fa-bars fa-inverse"></i>
            </a>
          {% endif %}
          {% if page_model_perms.change %}
            <a data-toggle="tooltip" data-placement="bottom" data-original-title="Edit" href="#[item.edit_url]"
               class="btn btn-warning btn-sm">
              <i class="fa fa-pencil fa-inverse"></i>
            </a>
          {% endif %}
          {% if page_model_perms.delete %}
            <a data-toggle="tooltip" data-placement="bottom" data-original-title="Delete" href="javascript:void(0);"
               class="btn btn-danger btn-sm" data-pk="#[item.id]" v-on:click="removeOne">
              <i class="fa fa-trash-o fa-inverse"></i>
            </a>
          {% endif %}
        </td>
      {% endblock %}
    {% endif %}

  </tr>
  </tbody>
{% endblock %}

{% block common_list_footer_page_script %}
  <script type="text/javascript" src="{% static 'js/product/product_list.js' %}"></script>
{% endblock %}
