{% extends 'adminlte/base.html' %}
{% load  static %}

{% block base_head_title %}Add credit card{% endblock %}
{% block base_head_title_system_name %}OZSALES{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Credit Card</h3>
            </div>
            <div class="box-body">

        <form action="" method="post" id="payment-form">
            {% csrf_token %}
            <div class="credit-card-form-wrapper">
                <div class="credit-card-form-field">
                    <label for="card-number">CARD NUMBER</label>
                    <div class="field-input">
                        <div id="card-number">
                            <!-- a Stripe Element will be inserted here. -->
                        </div>
                        <div class="error-message">
                            <div id="card-number-errors" role="alert"></div>
                        </div>
                    </div>

                </div>
                <div class="credit-card-form-field">
                    <label>CARD HOLDERS NAME</label>
                    <div class="field-input">
                        <div>
                            <input id="card-name" type="text" class="name" placeholder="Card holder name">
                        </div>
                        <div class="error-message">
                            <div id="card-name-errors" role="alert"></div>
                        </div>
                    </div>
                </div>
                <div class="flex-container flex-container--space-between">
                    <div class="credit-card-form-field credit-card-form-field--expiry">
                        <label for="card-expiry">
                            EXPIRY DATE
                        </label>
                        <div class="field-input">
                            <div id="card-expiry">
                                <!-- a Stripe Element will be inserted here. -->
                            </div>
                            <div class="error-message">
                                <div id="card-expiry-errors" role="alert"></div>
                            </div>
                        </div>

                    </div>
                    <div class="credit-card-form-field credit-card-form-field--cvc">

                        <label for="card-cvc">
                            CW/CVC
                        </label>
                        <div class="field-input">
                            <div id="card-cvc">
                                <!-- a Stripe Element will be inserted here. -->
                            </div>
                            <div class="error-message">
                                <div id="card-cvc-errors" role="alert"></div>
                            </div>
                        </div>
                    </div>
                </div>

                {% if error %}
                <div class="alert alert--error">{{ error|safe }}</div>
                {% endif %}
                <input class="btn btn--large" id="submit-button" type="submit" value="Update Credit Card"/>
            </div>

        </form>

            </div>
        </div>
    </div>
  </div>
{% endblock %}

{% block footer_page_script %}
{#    refer https://stripe.com/docs/stripe-js #}
    <script src="https://js.stripe.com/v3/"></script>

    <style>
        .StripeElement {
            background-color: white;
            padding: 8px 12px;
            border-radius: 5px;
            border: 2px solid #e9eaea;
        }

        .StripeElement--focus {
            border-color: #0172de;
        }

        .StripeElement--invalid {
            border-color: #ed1c24;
            background-color: #ffd8dd;
        }

        .StripeElement--webkit-autofill {
            background-color: #fefde5 !important;
        }
    </style>


    <script>
        // Create a Stripe client
        var stripe = Stripe('{{ STRIPE_PUBLIC_KEY }}');

        // Create an instance of Elements
        var elements = stripe.elements();

        // Custom styling can be passed to options when creating an Element.
        // (Note that this demo uses a wider set of styles than the guide below.)
        var style = {
            base: {
                color: '#32325d',
                lineHeight: '24px',
                fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                fontSmoothing: 'antialiased',
                fontSize: '16px',
                '::placeholder': {
                    color: '#aab7c4'
                }
            },
            invalid: {
                color: '#fa755a',
                iconColor: '#fa755a',
                ':focus': {
                    color: '#303238',
                },
            }
        };

        // Create an instance of the card Element
        var cardNumber = elements.create('cardNumber', {style: style});
        var cardExpiry = elements.create('cardExpiry', {style: style});
        var cardCvc = elements.create('cardCvc', {style: style});

        // Add an instance of the card Element into the `card-element` <div>
        cardNumber.mount('#card-number');
        cardExpiry.mount('#card-expiry');
        cardCvc.mount('#card-cvc');

        // Handle real-time validation errors from the card number.
        cardNumber.addEventListener('change', function (event) {
            var displayError = document.getElementById('card-number-errors');
            if (event.error) {
                console.log(event.error);
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
        });

        // Handle real-time validation errors from the card expire date .
        cardExpiry.addEventListener('change', function (event) {
            var displayError = document.getElementById('card-expiry-errors');
            if (event.error) {
                console.log(event.error);
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
        });

        // Handle real-time validation errors from the card cvc.
        cardCvc.addEventListener('change', function (event) {
            var displayError = document.getElementById('card-cvc-errors');
            if (event.error) {
                console.log(event.error);
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
        });

        // Handle form submission
        var form = document.getElementById('payment-form');

        form.addEventListener('submit', function (event) {
            event.preventDefault();

            stripe.createToken(cardExpiry).then(function (result) {
                if (result.error) {
                    // Inform the user if there was an error
                    var errorElement = document.getElementById('card-errors');
                    errorElement.textContent = result.error.message;
                    return false;
                } else {
                    // Send the token to your server
                    console.log(result.token.id);
                    var input = $("<input>")
                        .attr("type", "hidden")
                        .attr("name", "cardToken").val(result.token.id);
                    $('#payment-form').append($(input)).submit();
                }
            });
        });
    </script>
{% endblock %}



