{% extends 'adminlte/base.html' %}
{% load  static %}

{% block base_head_title %}Select a plan{% endblock %}
{% block base_head_title_system_name %}{{ page_system_name }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <h2 class="box-title">Select a plan</h2>
            </div>
        <form action="" method="post" id="payment-form">
            {% csrf_token %}
            {% block plan_select %}
            <div class="box-body">
                <h4>Select your plan:</h4>
                <div class="btn-group col-xs-12" data-toggle="btn-toggle" style="margin-left: 15px">
                    {% for plan in plans %}
                        <div id="{{ plan.stripe_id }}" class="btn btn-default color-palette plan_item
                            {% if customer.subscription.plan == plan and customer.subscription.is_valid %}active{% endif %}
                            {% if forloop.first %}{% if not customer.subscription.is_valid %}active{% endif %}{% endif %}">

                            {% with image=plan.image|default:"img/default-plan-image.png" %}
                                <img src="{% static plan.image|default:"img/default-plan-image.png" %}"
                                     class="img-thumbnail"/>
                            {% endwith %}
                            <h4>{{ plan.name }}</h4>
                            <p>
                                {{ plan.description|default:"1" }}
                                <input type="radio" name="selected_plan" value="{{ plan.stripe_id }}"
                                   {% if customer.subscription.plan == plan and customer.subscription.is_valid %}checked{% endif %}
                                    {% if forloop.first %}{% if not customer.subscription.is_valid %}checked{% endif %}{% endif %}>
                            </p>
                        </div>
                    {% endfor %}
                    <div class="btn btn-default color-palette">
                        {% with image=plan.image|default:"img/default-plan-image.png" %}
                            <img src="{% static plan.image|default:"img/default-plan-image.png" %}"
                                 class="img-thumbnail"/>
                        {% endwith %}
                        <h4>Not select any</h4>
                        <p> 1</p>
                    </div>

                </div>
            </div>
            {% endblock %}

            {% block card_form %}
                {% if not customer.can_charge %}
                    {% include 'djstripe/_card_form.html' with show_title=1 %}
                {% endif %}

                <div class="box-footer">
                    <div class="col-xs-12 col-md-6">
                        <div class="col-xs-12">
                            <input class="btn btn-success col-xs-3 " id="submit-button" type="submit" value="Submit"/>
                            <a class="btn bg-navy col-xs-3 col-xs-offset-1" href="{% url 'payments:view_card' %}">取 消</a>
                        </div>
                    </div>
                </div>
            {% endblock %}

        </form>
        </div>
    </div>
  </div>
{% endblock %}

{% block footer_page_script %}
    <script>
        $( document ).ready(function() {
            $( "#payment-form" ).submit(function( event ) {
                var plan_id = $(".plan_item.active").attr("id");
                $("input[value="+plan_id+"]").prop( "checked", true );
            });
        });
    </script>
{% endblock %}
