{% extends 'adminlte/base.html' %}
{% load  static %}

{% block base_head_title %}View credit card{% endblock %}
{% block base_head_title_system_name %}OZSALES{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xs-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Credit Card</h3>
            </div>
            <div class="box-body">
                <div class="credit-card-form-wrapper col-xs-12 col-md-6">
                    <br/>
                    <div class="credit-card-form-field col-xs-12">
                        <label class="control-label" for="card-number">CARD NUMBER</label>
                        <div class="field-input">
                            <div id="card-number">
                                **** **** **** <span>{{ object.last4 }}</span> <i class="fa fa-cc-visa fa-lg"></i>
                            </div>
                        </div>

                    </div>
                    <div class="credit-card-form-field col-xs-12">
                        <label for="card-name">CARD HOLDERS NAME</label>
                        <div class="field-input">
                            <div class="">
                                <span>{{ object.name|default:"" }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="credit-card-form-field credit-card-form-field--expiry col-xs-12">
                        <label for="card-expiry">
                            EXPIRY DATE
                        </label>
                        <div class="field-input">
                            <div id="card-expiry">
                                <span>{{ object.exp_month|default:"" }}/{{ object.exp_year|default:"" }}</span>
                            </div>
                        </div>
                    </div>

                    {% for sub in subscriptions %}
                    <div class="credit-card-form-field credit-card-form-field--expiry col-xs-12">
                        <label for="card-expiry">
                            Current Plan
                        </label>
                        <div class="field-input">
                                <span>{{ sub.plan.name }}</span>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
            <div class="box-footer">
                <div class="col-xs-12">
                    <a class="btn btn-success" href="{% url 'payments:add_card' %}">Update Card</a>
                    <button type="button" class="btn bg-navy btn-default" data-toggle="modal" data-target="#remove-card">Remove Card</button>
                </div>
            </div>
        </div>
    </div>
  </div>

<div class="modal fade" id="remove-card" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">确认移除尾号{{ object.last4 }}的信用卡？</h4>
      </div>
      <div class="modal-body">
        <p>#todo 你有plan</p>
        <p>若只是更换信用卡请点击更新信用卡<a href="{% url 'payments:add_card' %}">更新信用卡</a>.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取 消</button>
        <a href="{% url 'payments:remove_card' %}" class="btn btn-primary">确 定</a>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
{% endblock %}
